/****************************************
--Replace 'BAE_4_6_TARGET' with the desired name
****************************************/
USE [BAE_4_6_TARGET]
GO
/****** Object:  Table [dbo].[TEMP_AGGR]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMP_AGGR](
	[Code] [nvarchar](255) NULL,
	[Value] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEM_CUBOID_INFO]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYSTEM_CUBOID_INFO](
	[CUBOID_TYPE] [varchar](100) NOT NULL,
	[CUBOID_ID] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Import_Specification]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[Import_Specification](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DOC] [image] NOT NULL,
	[FNAME] [varchar](2048) NOT NULL,
	[EXT] [varchar](8) NULL,
	[CLIENT] [varchar](256) NULL,
	[TYPE] [varchar](64) NOT NULL,
	[NAME] [varchar](50) NULL,
	[FILETYPE] [varchar](50) NULL,
	[VERSION] [int] NOT NULL,
	[TEMPLATE_NAME] [varchar](100) NULL,
	[LASTCHANGEDATETIME] [datetime] NULL,
	[IsActive] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dba_indexDefragStatus]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dba_indexDefragStatus](
	[databaseID] [int] NOT NULL,
	[databaseName] [nvarchar](128) NOT NULL,
	[objectID] [int] NOT NULL,
	[indexID] [int] NOT NULL,
	[partitionNumber] [smallint] NOT NULL,
	[fragmentation] [float] NOT NULL,
	[page_count] [int] NOT NULL,
	[range_scan_count] [bigint] NOT NULL,
	[schemaName] [nvarchar](128) NULL,
	[objectName] [nvarchar](128) NULL,
	[indexName] [nvarchar](128) NULL,
	[scanDate] [datetime] NOT NULL,
	[defragDate] [datetime] NULL,
	[printStatus] [bit] NOT NULL,
	[exclusionMask] [int] NOT NULL,
 CONSTRAINT [PK_indexDefragStatus_v40] PRIMARY KEY CLUSTERED 
(
	[databaseID] ASC,
	[objectID] ASC,
	[indexID] ASC,
	[partitionNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dba_indexDefragLog]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dba_indexDefragLog](
	[indexDefrag_id] [int] IDENTITY(1,1) NOT NULL,
	[databaseID] [int] NOT NULL,
	[databaseName] [nvarchar](128) NOT NULL,
	[objectID] [int] NOT NULL,
	[objectName] [nvarchar](128) NOT NULL,
	[indexID] [int] NOT NULL,
	[indexName] [nvarchar](128) NOT NULL,
	[partitionNumber] [smallint] NOT NULL,
	[fragmentation] [float] NOT NULL,
	[page_count] [int] NOT NULL,
	[dateTimeStart] [datetime] NOT NULL,
	[dateTimeEnd] [datetime] NULL,
	[durationSeconds] [int] NULL,
	[sqlStatement] [varchar](4000) NULL,
	[errorMessage] [varchar](1000) NULL,
 CONSTRAINT [PK_indexDefragLog_v40] PRIMARY KEY CLUSTERED 
(
	[indexDefrag_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[dba_indexDefragExclusion]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dba_indexDefragExclusion](
	[databaseID] [int] NOT NULL,
	[databaseName] [nvarchar](128) NOT NULL,
	[objectID] [int] NOT NULL,
	[objectName] [nvarchar](128) NOT NULL,
	[indexID] [int] NOT NULL,
	[indexName] [nvarchar](128) NOT NULL,
	[exclusionMask] [int] NOT NULL,
 CONSTRAINT [PK_indexDefragExclusion_v40] PRIMARY KEY CLUSTERED 
(
	[databaseID] ASC,
	[objectID] ASC,
	[indexID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BWX_INT]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BWX_INT](
	[NAME] [nvarchar](32) NOT NULL,
	[BW_COLLAB_ID] [float] NULL,
	[BW_WB_ID] [float] NULL,
	[TABLE_NAME] [nvarchar](255) NULL,
	[BW_TBL_ID] [float] NULL,
	[INT_USER_ID] [float] NULL,
	[INT_MEMBER_ID] [float] NULL,
	[EXPORT_TID] [int] NULL,
	[IMPORT_TID] [int] NULL,
	[DEFAULT_DATA] [int] NULL,
 CONSTRAINT [PK_BWX_INT] PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_TEMPLATE_VERSION]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_TEMPLATE_VERSION](
	[NAME] [nvarchar](256) NULL,
	[MAJOR_VERSION] [int] NULL,
	[MINOR_VERSION] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_TEMPLATE_SUPPORT_VERSIONS]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_TEMPLATE_SUPPORT_VERSIONS](
	[NAME] [nvarchar](256) NOT NULL,
	[SUBMIT] [nvarchar](256) NULL,
	[REFRESH] [nvarchar](256) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_USER_EXPORT_TID]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_USER_EXPORT_TID](
	[BW_TBL_ID] [int] NOT NULL,
	[BW_USER_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_USER_EXPORT_TID] PRIMARY KEY CLUSTERED 
(
	[BW_TBL_ID] ASC,
	[BW_USER_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_USER]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_USER](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[EMAIL_ADDRESS] [varchar](256) NOT NULL,
	[EXTERNAL_USER_ID] [varchar](256) NULL,
	[PASSWORD] [varchar](256) NOT NULL,
	[FIRSTNAME] [varchar](128) NULL,
	[LASTNAME] [varchar](128) NULL,
	[ACTIVE] [bit] NOT NULL,
	[IS_ADMIN] [bit] NOT NULL DEFAULT (0),
	[CREATED_ON] [datetime] NULL DEFAULT (getutcdate()),
	[PASSWORD_CHANGED_ON] [datetime] NULL DEFAULT (getutcdate()),
	[LAST_LOGGED_ON] [datetime] NULL,
	[LOCKED] [bit] NULL,
	[LOCKED_ON] [datetime] NULL,
	[UNSUCCESSFUL_LOGIN_ATTEMPTS] [int] NULL DEFAULT ((0)),
 CONSTRAINT [PK_BW_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_NC_BW_USER] UNIQUE NONCLUSTERED 
(
	[EMAIL_ADDRESS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_PASSWORD_HISTORY]    Script Date: 5/22/2019 5:55:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BW_PASSWORD_HISTORY](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[USER_ID] [int] NULL,
	[PASSWORD_CHANGED_ON] [datetime] NULL,
	[PASSWORD] [varchar](256) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_BRECT_CUBOID_ENTRIES]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_BRECT_CUBOID_ENTRIES](
	[BRECTNAME] [varchar](512) NULL,
	[DATABASE] [varchar](512) NULL,
	[TYPE] [varchar](512) NULL,
	[NAME] [varchar](512) NULL,
	[WHITEBOARD] [varchar](512) NULL,
	[COLLABORATION] [varchar](512) NULL,
	[NEIGHBORHOOD] [varchar](512) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_BLOB]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_BLOB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DOC] [image] NOT NULL,
	[FNAME] [varchar](2048) NOT NULL,
	[EXT] [varchar](8) NULL,
	[CLIENT] [varchar](256) NULL,
	[TYPE] [varchar](64) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_COLLAB_ACCESS]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_COLLAB_ACCESS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COLLABORATION_ID] [int] NOT NULL,
	[REL] [varchar](16) NOT NULL,
	[ACCESS] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_COLLAB_ACCESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_NC_BW_COLLAB_ACCESS] UNIQUE NONCLUSTERED 
(
	[COLLABORATION_ID] ASC,
	[REL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_ASCII_CHARS]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[BW_ASCII_CHARS](
	[ASCII_VAL] [int] NOT NULL,
	[ASCII_CHAR] [nvarchar](2) NULL,
	[ALLOW_FLAG] [char](1) NULL,
	[REPL_VALUE] [nvarchar](5) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_COL_ACCESS]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_COL_ACCESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COL_ID] [int] NOT NULL,
	[REL] [varchar](128) NOT NULL,
	[ACCESS_] [int] NOT NULL,
	[PREV_ACCESS] [int] NULL,
	[TID] [int] NULL,
	[ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_BW_COL_ACCESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_CELL_STATUS]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_CELL_STATUS](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[BW_CELL_ID] [int] NOT NULL,
	[ACTIVE] [bit] NOT NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_CELL_STATUS] PRIMARY KEY CLUSTERED 
(
	[TX_ID] ASC,
	[BW_CELL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_BW_CELL_STATUS] ON [dbo].[BW_CELL_STATUS] 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_C_IX_BW_CELL_STATUS_1] ON [dbo].[BW_CELL_STATUS] 
(
	[BW_CELL_ID] ASC
)
INCLUDE ( [TX_ID]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_COLUMN_TYPE]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_COLUMN_TYPE](
	[COLUMN_TYPE] [varchar](128) NOT NULL,
 CONSTRAINT [PK_BW_COLUMN_TYPE] PRIMARY KEY CLUSTERED 
(
	[COLUMN_TYPE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_DEL_ROW]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_DEL_ROW](
	[BW_ROW_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_DEFAULT_ACTION_TYPES]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_DEFAULT_ACTION_TYPES](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OBJECT_TYPE] [varchar](16) NOT NULL,
	[ACTION] [varchar](64) NOT NULL,
 CONSTRAINT [PK_BW_DEFAULT_ACTION_TYPES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_FORMULA_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_FORMULA_VALUE](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[FORMULA] [varchar](2048) NOT NULL,
	[TX_ID] [int] NULL,
	[FORMULA_INDEX] [binary](20) NOT NULL,
 CONSTRAINT [PK_BW_FORMULA_VALUE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [NU_NC_IX_BW_FORMULA_VALUE] ON [dbo].[BW_FORMULA_VALUE] 
(
	[FORMULA_INDEX] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_EXT_QUERIES]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_EXT_QUERIES](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[QUERY_DESC] [varchar](256) NULL,
	[QUERY_CALL] [varchar](2048) NULL,
	[QUERY_PARAMETERS] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_EXCEL_VERSION]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_EXCEL_VERSION](
	[MAJOR_VERSION] [int] NOT NULL,
	[MINOR_VERSION] [int] NOT NULL,
 CONSTRAINT [PK_BW_EXCEL_VERSION] PRIMARY KEY CLUSTERED 
(
	[MAJOR_VERSION] ASC,
	[MINOR_VERSION] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_ERROR_LOG]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_ERROR_LOG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REC_NUM] [varchar](50) NOT NULL,
	[RULE_NAME] [varchar](255) NOT NULL,
	[RULE_TYPE] [varchar](300) NOT NULL,
	[BW_INT_FILENAME] [varchar](200) NULL,
	[BW_ERROR_MESSAGE] [varchar](max) NULL,
	[BW_TIMESTAMP] [datetime] NOT NULL,
 CONSTRAINT [PK_BW_ERROR_LOG_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[RULE_NAME] ASC,
	[RULE_TYPE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_NEW_ROW]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_NEW_ROW](
	[PREV_ROW_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[OFFSET] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_NAMED_SELECTION]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_NAMED_SELECTION](
	[BW_STRING_VALUE_ID] [int] NOT NULL,
	[BW_ROW_ID] [int] NOT NULL,
	[BW_COLUMN_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_NAMED_SELECTION] PRIMARY KEY CLUSTERED 
(
	[BW_STRING_VALUE_ID] ASC,
	[BW_ROW_ID] ASC,
	[BW_COLUMN_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_RC_STRING_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_RC_STRING_VALUE](
	[BW_ROW_ID] [int] NOT NULL,
	[BW_COLUMN_ID] [int] NOT NULL,
	[STRING_VALUE] [nvarchar](2048) NULL,
	[FORMULA] [varchar](2048) NULL,
	[TX_ID] [int] NOT NULL,
	[CHANGE_FLAG] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_OBJECT_ACTIONS]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_OBJECT_ACTIONS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OBJECT_TYPE] [varchar](16) NOT NULL,
	[OBJECT_ID] [int] NOT NULL,
	[ACTION_ID] [bigint] NOT NULL,
	[ACTION_UI_STRING] [varchar](64) NOT NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_OBJECT_ACTIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_NC_BW_OBJECT_ACTIONS] UNIQUE NONCLUSTERED 
(
	[OBJECT_TYPE] ASC,
	[OBJECT_ID] ASC,
	[ACTION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_NH_REL]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_NH_REL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[REL] [varchar](128) NOT NULL,
	[NEIGHBORHOOD_ID] [int] NOT NULL,
	[TARGET_NH_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_NH_REL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_NC_BW_NH_REL] UNIQUE NONCLUSTERED 
(
	[REL] ASC,
	[NEIGHBORHOOD_ID] ASC,
	[TARGET_NH_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_NH_ACCESS]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_NH_ACCESS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TABLE_ID] [int] NOT NULL,
	[OBJECT_ID] [int] NOT NULL,
	[OBJECT_TYPE] [varchar](16) NOT NULL,
	[REL] [varchar](128) NOT NULL,
	[ACCESS_] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_NH_ACCESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_NC_BW_NH_ACCESS] UNIQUE NONCLUSTERED 
(
	[TABLE_ID] ASC,
	[OBJECT_TYPE] ASC,
	[OBJECT_ID] ASC,
	[REL] ASC,
	[ACCESS_] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_TBL_FRM]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_TBL_FRM](
	[TBL_ID] [int] NOT NULL,
	[FRM_TBL_ID] [int] NOT NULL,
	[TID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_SM_C2S_RULES]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_SM_C2S_RULES](
	[RULE NAME] [varchar](2048) NULL,
	[SUPERMERGE_C2C_SRCTABLE] [varchar](2048) NULL,
	[SUPERMERGE_C2C_SOURCE_PK] [varchar](2048) NULL,
	[SUPERMERGE_C2C_SOURCE_GROUP_BY_COLUMNS] [varchar](2048) NULL,
	[SUPERMERGE_C2C_SRC_WB_NAME] [varchar](2048) NULL,
	[SUPERMERGE_C2C_SRC_COLLAB_NAME] [varchar](2048) NULL,
	[SUPERMERGE_C2C_SOURCE_UPD_COLUMNS] [varchar](2048) NULL,
	[OPERATOR] [varchar](2048) NULL,
	[AGGREGATE_FLAG] [varchar](2048) NULL,
	[CALCULATED_COL] [varchar](2048) NULL,
	[TX_ID] [varchar](2048) NULL,
	[USE_TX_ID_FLAG] [varchar](2048) NULL,
	[GET_ROW_ID_FLAG] [varchar](2048) NULL,
	[SUPERMERGE_C2C_TYPE] [varchar](2048) NULL,
	[SUPERMERGE_C2C_USE_COL_MAP_FLAG] [varchar](2048) NULL,
	[SUPERMERGE_C2C_COLMAP_SRC] [varchar](2048) NULL,
	[SUPERMERGE_C2C_COLMAP_TRGT] [varchar](2048) NULL,
	[SUPERMERGE_C2C_TRGT_ROW_FILTER] [varchar](2048) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_SIGNIFICANT_TXS]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_SIGNIFICANT_TXS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[DESCRIPTION] [varchar](512) NULL,
	[BW_TBL_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_RULES]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_RULES](
	[RULE_ID] [int] IDENTITY(1,1) NOT NULL,
	[RULE_NAME] [varchar](255) NOT NULL,
	[RULE_TYPE] [varchar](300) NOT NULL,
	[TO_VALIDATE_TYPE] [varchar](20) NOT NULL,
	[TO_VALIDATE_TABLE] [varchar](300) NOT NULL,
	[TO_VALIDATE_COLS] [varchar](max) NULL,
	[REPLACEMENT_VALUE] [nvarchar](50) NULL,
	[ERROR_LOG_TBL_NAME] [varchar](200) NULL,
	[EMAIL_ADDRESS] [varchar](max) NULL,
 CONSTRAINT [PK_BW_RULES] PRIMARY KEY CLUSTERED 
(
	[RULE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_SUPERMERGE_RULES]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_SUPERMERGE_RULES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RULE NAME] [varchar](100) NOT NULL,
	[RELATIONSHIP] [varchar](100) NULL,
	[SOURCE TABLE] [varchar](100) NULL,
	[SRC_WB_NAME] [varchar](100) NULL,
	[SRC_COLLAB_NAME] [varchar](100) NULL,
	[SOURCE TABLE TYPE] [varchar](100) NULL,
	[SOURCE COLUMNS] [varchar](max) NULL,
	[TARGET TABLE] [varchar](100) NULL,
	[TRGT_WB_NAME] [varchar](100) NULL,
	[TRGT_COLLAB_NAME] [varchar](100) NULL,
	[TARGET TABLE TYPE] [varchar](100) NULL,
	[TARGET COLUMNS] [varchar](max) NULL,
	[SRC_UPD_COLUMN] [varchar](max) NULL,
	[TRGT_UPD_COLUMN] [varchar](max) NULL,
	[ORDER BY] [varchar](max) NULL,
	[MEASURE COLUMN NAME TARGET] [varchar](100) NULL,
	[DELETE FLAG] [bit] NULL,
	[UPDATE FLAG] [bit] NULL,
	[INSERT FLAG] [bit] NULL,
	[TRANSPOSE] [bit] NULL,
	[MEASURE TABLE FLAG] [bit] NULL,
	[SOURCE_PK_INSERT] [varchar](max) NULL,
	[TARGET_PK_INSERT] [varchar](max) NULL,
	[INCREMENTS/COMPLETE] [varchar](100) NULL,
	[POST_SECTIONA_PROC_NAME] [varchar](100) NULL,
	[POST_SECTIONB_PROC_NAME] [varchar](100) NULL,
	[POST_SECTIONC_PROC_NAME] [varchar](100) NULL,
	[POST_SECTIOND_PROC_NAME] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_SUPERMERGE_MEASURE]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_SUPERMERGE_MEASURE](
	[MEASURE_ORDER] [int] NULL,
	[BW_TBL_ID] [int] NULL,
	[MEASURE_NAME] [varchar](256) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_SUPERMERGE_C2S_SRC_TRGT_MAP]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_SUPERMERGE_C2S_SRC_TRGT_MAP](
	[RULE_NAME] [varchar](256) NULL,
	[SRC_COLUMN] [varchar](256) NULL,
	[TRGT_COLUMN] [varchar](256) NULL,
	[FACTOR] [varchar](256) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_STRVAL_FORMULA]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_STRVAL_FORMULA](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[STRVAL_ID] [int] NOT NULL,
	[FVAL_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_STRVAL_FORMULA] PRIMARY KEY CLUSTERED 
(
	[STRVAL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_IX_BW_STRVAL_FORMULA_1] ON [dbo].[BW_STRVAL_FORMULA] 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_IX_BW_STRVAL_FORMULA_2] ON [dbo].[BW_STRVAL_FORMULA] 
(
	[FVAL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_TXS](
	[TX_ID] [int] IDENTITY(1000,1) NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[DESCRIPTION] [varchar](512) NULL,
	[COMMENT_] [varchar](2048) NULL,
 CONSTRAINT [PK_BW_TXS] PRIMARY KEY CLUSTERED 
(
	[TX_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_TBL_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_TBL_VALUE](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[BW_CELL_ID] [int] NOT NULL,
	[TABLE_VALUE] [int] NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_TBL_VALUE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_DOUBLE_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_DOUBLE_VALUE](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[BW_CELL_ID] [int] NOT NULL,
	[DOUBLE_VALUE] [float] NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_DOUBLE_VALUE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_INTEGER_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_INTEGER_VALUE](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[BW_CELL_ID] [int] NOT NULL,
	[INTEGER_VALUE] [int] NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_INTEGER_VALUE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_BL]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_BL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](256) NULL,
	[DESCRIPTION] [varchar](2048) NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_BL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_STRING_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_STRING_VALUE](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[BW_CELL_ID] [int] NOT NULL,
	[STRING_VALUE] [nvarchar](2048) NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_STRING_VALUE] PRIMARY KEY CLUSTERED 
(
	[TX_ID] ASC,
	[BW_CELL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_C_IX_BW_STRING_VALUE] ON [dbo].[BW_STRING_VALUE] 
(
	[BW_CELL_ID] ASC
)
INCLUDE ( [TX_ID]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_IX_BW_STRING_VALUE] ON [dbo].[BW_STRING_VALUE] 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_NH]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_NH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NEIGHBORHOOD_LEVEL] [int] NOT NULL,
	[LEVEL_0_ID] [int] NOT NULL,
	[LEVEL_1_ID] [int] NOT NULL,
	[LEVEL_2_ID] [int] NOT NULL,
	[LEVEL_3_ID] [int] NOT NULL,
	[IS_SECURE] [bit] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[CREATED_BY] [int] NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[MANAGED_BY] [int] NOT NULL,
	[NAME] [varchar](256) NOT NULL,
	[ACCESS] [bigint] NOT NULL,
 CONSTRAINT [PK_BW_NH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_NH_LEVEL_3]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_NH_LEVEL_3](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](256) NOT NULL,
	[NEIGHBORHOOD_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_BW_NH_LEVEL_3] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_NH_LEVEL_2]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_NH_LEVEL_2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](256) NOT NULL,
	[NEIGHBORHOOD_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_BW_NH_LEVEL_2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_NH_LEVEL_1]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_NH_LEVEL_1](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](256) NOT NULL,
	[NEIGHBORHOOD_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_BW_NH_LEVEL_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_NH_LEVEL_0]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_NH_LEVEL_0](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](256) NOT NULL,
	[NEIGHBORHOOD_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_BW_NH_LEVEL_0] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_NC_BW_NH_LEVEL_0] UNIQUE NONCLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_MEMBER]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_MEMBER](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[USER_ID] [int] NULL,
	[NEIGHBORHOOD_ID] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_MEMBER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_NC_BW_MEMBER] UNIQUE NONCLUSTERED 
(
	[USER_ID] ASC,
	[NEIGHBORHOOD_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_BL_CELL]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_BL_CELL](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[BASELINE_ID] [int] NOT NULL,
	[CELL_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[STRING_VALUE_ID] [int] NULL,
	[INTEGER_VALUE_ID] [int] NULL,
	[DOUBLE_VALUE_ID] [int] NULL,
	[TABLE_VALUE_ID] [int] NULL,
 CONSTRAINT [PK_BW_BL_CELL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_COLLAB]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_COLLAB](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[NAME] [varchar](256) NOT NULL,
	[PURPOSE] [varchar](2048) NULL,
	[PEER_ACCESS] [int] NOT NULL,
	[PRIVATE_ACCESS] [int] NOT NULL,
	[FRIEND_ACCESS] [int] NOT NULL,
	[SEQUENCE_NUMBER] [float] NOT NULL,
	[MEMBER_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[NEIGHBORHOOD_ID] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[PARENT_ACCESS] [bigint] NOT NULL,
	[DOMAIN_ACCESS] [bigint] NOT NULL,
	[CHILDREN_ACCESS] [bigint] NOT NULL,
	[CREATOR_ACCESS] [bigint] NOT NULL,
	[COLLABORATION_PUBLIC_ACCESS] [bigint] NOT NULL,
 CONSTRAINT [PK_BW_COLLAB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_NC_BW_COLLAB] UNIQUE NONCLUSTERED 
(
	[NEIGHBORHOOD_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_WB]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_WB](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[NAME] [varchar](256) NOT NULL,
	[BW_COLLAB_ID] [int] NOT NULL,
	[SEQUENCE_NUMBER] [float] NOT NULL,
	[PEER_ACCESS] [int] NOT NULL,
	[PRIVATE_ACCESS] [int] NOT NULL,
	[FRIEND_ACCESS] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[NEIGHBORHOOD_ID] [int] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_BW_WB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_NC_BW_WB] UNIQUE NONCLUSTERED 
(
	[BW_COLLAB_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_BL_COLLAB]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_BL_COLLAB](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[BASELINE_ID] [int] NOT NULL,
	[COLLABORATION_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_BL_COLLAB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_BL_WB]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_BL_WB](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[BASELINE_ID] [int] NOT NULL,
	[WHITEBOARD_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_BL_WB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_TBL]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_TBL](
	[ID] [int] IDENTITY(2000001,1) NOT NULL,
	[NAME] [varchar](256) NOT NULL,
	[PURPOSE] [varchar](2048) NULL,
	[BW_WB_ID] [int] NOT NULL,
	[PEER_ACCESS] [int] NOT NULL,
	[PRIVATE_ACCESS] [int] NOT NULL,
	[FRIEND_ACCESS] [int] NOT NULL,
	[SEQUENCE_NUMBER] [float] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[NEIGHBORHOOD_ID] [int] NOT NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[VIEW_PREFERENCE_TYPE] [varchar](50) NOT NULL,
	[IS_LOCKED] [int] NOT NULL,
	[LOCK_TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_NC_BW_TBL] UNIQUE NONCLUSTERED 
(
	[BW_WB_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_ROW]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_ROW](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[NAME] [varchar](256) NOT NULL,
	[BW_TBL_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[SEQUENCE_NUMBER] [float] NOT NULL,
	[IS_ACTIVE] [int] NOT NULL,
	[OWNER_ID] [int] NOT NULL,
	[OWNER_TID] [int] NOT NULL,
 CONSTRAINT [PK_BW_ROW] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [NU_NC_C_IX_BW_ROW_1] ON [dbo].[BW_ROW] 
(
	[IS_ACTIVE] ASC,
	[OWNER_ID] ASC
)
INCLUDE ( [ID],
[SEQUENCE_NUMBER]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_C_IX_BW_ROW_2] ON [dbo].[BW_ROW] 
(
	[TX_ID] ASC
)
INCLUDE ( [ID]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_IX_BW_ROW_1] ON [dbo].[BW_ROW] 
(
	[BW_TBL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_IX_BW_ROW_2] ON [dbo].[BW_ROW] 
(
	[TX_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_ACC_TBL]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_ACC_TBL](
	[BW_TBL_ID] [int] NOT NULL,
	[BW_ACC_TBL_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_BL_TBL]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_BL_TBL](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[BASELINE_ID] [int] NOT NULL,
	[TABLE_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
 CONSTRAINT [PK_BW_BL_TBL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_CRIT_TBL]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_CRIT_TBL](
	[BW_TBL_ID] [int] NOT NULL,
	[BW_CR_TBL_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_COLUMN]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_COLUMN](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[NAME] [varchar](256) NOT NULL,
	[BW_TBL_ID] [int] NOT NULL,
	[COLUMN_TYPE] [varchar](128) NOT NULL,
	[SEQUENCE_NUMBER] [float] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[DEFAULT_STRING_VALUE] [varchar](2048) NULL,
	[DEFAULT_INTEGER_VALUE] [int] NULL,
	[DEFAULT_FLOAT_VALUE] [float] NULL,
	[DEAFULT_TBL_VALUE] [int] NULL,
	[LOOKUP_TBL_ID] [int] NULL,
	[LOOKUP_COLUMN_ID] [int] NULL,
	[IS_ENUMERATED] [bit] NOT NULL,
	[WIDTH] [int] NULL,
	[IS_ACTIVE] [int] NOT NULL,
	[SOURCE] [int] NOT NULL,
	[ATTR] [varchar](1024) NULL,
 CONSTRAINT [PK_BW_COLUMN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY],
 CONSTRAINT [UQ_NC_BW_COLUMN] UNIQUE NONCLUSTERED 
(
	[BW_TBL_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [NU_NC_C_IX_BW_COLUMN_1] ON [dbo].[BW_COLUMN] 
(
	[TX_ID] ASC
)
INCLUDE ( [ID]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_IX_BW_COLUMN_1] ON [dbo].[BW_COLUMN] 
(
	[NAME] ASC,
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_IX_BW_COLUMN_2] ON [dbo].[BW_COLUMN] 
(
	[TX_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_IX_BW_COLUMN_3] ON [dbo].[BW_COLUMN] 
(
	[BW_TBL_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_COLUMN_ORDERED_TBL]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_COLUMN_ORDERED_TBL](
	[COLUMN_ID] [int] NOT NULL,
	[ORDERED_LIST_TBL_ID] [int] NOT NULL,
	[ORDERED_LIST_TBL_COLUMN_ID] [int] NOT NULL,
	[ORDER_TYPE] [varchar](128) NOT NULL,
	[TX_ID] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_CELL]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BW_CELL](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[BW_ROW_ID] [int] NOT NULL,
	[BW_COLUMN_ID] [int] NOT NULL,
	[CELL_TYPE] [varchar](32) NOT NULL,
	[BW_STRINGVALUE_ID] [int] NULL,
	[INTEGER_VALUE_ID] [int] NULL,
	[DOUBLE_VALUE_ID] [int] NULL,
	[STRING_VALUE] [nvarchar](2048) NULL,
	[INTEGER_VALUE] [int] NULL,
	[DOUBLE_VALUE] [float] NULL,
	[FORMULA] [varchar](2048) NULL,
	[TABLE_VALUE] [int] NULL,
	[TX_ID] [int] NOT NULL,
	[DESIGN_STRING_VALUE] [varchar](2048) NULL,
	[DESIGN_INTEGER_VALUE] [int] NULL,
	[DESIGN_DOUBLE_VALUE] [float] NULL,
	[DESIGN_TX_ID] [int] NULL,
	[TABLE_VALUE_ID] [int] NULL,
	[DESIGN_TBL_VALUE] [int] NULL,
	[ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_BW_CELL] PRIMARY KEY CLUSTERED 
(
	[BW_COLUMN_ID] ASC,
	[BW_ROW_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_BW_CELL] ON [dbo].[BW_CELL] 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_C_IX_BW_CELL_4] ON [dbo].[BW_CELL] 
(
	[TX_ID] ASC
)
INCLUDE ( [ID]) WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_IX_BW_CELL_1] ON [dbo].[BW_CELL] 
(
	[BW_ROW_ID] ASC,
	[BW_COLUMN_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_IX_BW_CELL_2] ON [dbo].[BW_CELL] 
(
	[BW_ROW_ID] ASC,
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [NU_NC_IX_BW_CELL_3] ON [dbo].[BW_CELL] 
(
	[BW_COLUMN_ID] ASC,
	[BW_ROW_ID] ASC,
	[ID] ASC,
	[TX_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_BL_ROW]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_BL_ROW](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[BASELINE_ID] [int] NOT NULL,
	[ROW_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[OWNER_ID] [int] NULL,
	[OWNER_TID] [int] NULL,
	[SEQUENCE_NUMBER] [float] NULL,
 CONSTRAINT [PK_BW_BL_ROW] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_BL_COLUMN]    Script Date: 09/29/2016 04:28:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_BL_COLUMN](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[BASELINE_ID] [int] NOT NULL,
	[COLUMN_ID] [int] NOT NULL,
	[TX_ID] [int] NOT NULL,
	[SEQUENCE_NUMBER] [float] NULL,
 CONSTRAINT [PK_BW_BL_COLUMN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BW_PATCH_VERSION]    Script Date: 11/01/2016 03:09:39 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[BW_PATCH_VERSION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAJOR_VERSION] [int] NULL,
	[MINOR_VERSION] [int] NULL,
	[RELEASE_DATE] [date] NULL,
	[PATCH_NO] [varchar](256) NULL,
	[COMMENTS] [varchar](max) NULL,
	[CHANGED_STORED_PROCEDURES] [varchar](max) NULL,
	[CHANGED_JAVA_FILES] [varchar](max) NULL
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BW_SYSTEM_CONFIG]    Script Date: 2017-05-17 11:51:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BW_SYSTEM_CONFIG](
	[TYPE] [varchar](256) NULL,
	[PARAMETER] [varchar](256) NULL,
	[VALUE] [varchar](256) NULL
) ON [PRIMARY]

GO
/****** Object:  Default [DF_BW_BLOB_TYPE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BLOB] ADD  CONSTRAINT [DF_BW_BLOB_TYPE]  DEFAULT ('application/octet-stream') FOR [TYPE]
GO
/****** Object:  Default [DF_BW_CELL_STRING_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_CELL] ADD  CONSTRAINT [DF_BW_CELL_STRING_VALUE]  DEFAULT (' ') FOR [STRING_VALUE]
GO
/****** Object:  Default [DF_BW_CELL_INTEGER_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_CELL] ADD  CONSTRAINT [DF_BW_CELL_INTEGER_VALUE]  DEFAULT ((0)) FOR [INTEGER_VALUE]
GO
/****** Object:  Default [DF_BW_CELL_DOUBLE_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_CELL] ADD  CONSTRAINT [DF_BW_CELL_DOUBLE_VALUE]  DEFAULT ((0.0)) FOR [DOUBLE_VALUE]
GO
/****** Object:  Default [DF_BW_CELL_DESIGN_STRING_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_CELL] ADD  CONSTRAINT [DF_BW_CELL_DESIGN_STRING_VALUE]  DEFAULT (' ') FOR [DESIGN_STRING_VALUE]
GO
/****** Object:  Default [DF_BW_CELL_DESIGN_INTEGER_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_CELL] ADD  CONSTRAINT [DF_BW_CELL_DESIGN_INTEGER_VALUE]  DEFAULT ((0)) FOR [DESIGN_INTEGER_VALUE]
GO
/****** Object:  Default [DF_BW_CELL_DESIGN_DOUBLE_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_CELL] ADD  CONSTRAINT [DF_BW_CELL_DESIGN_DOUBLE_VALUE]  DEFAULT ((0.0)) FOR [DESIGN_DOUBLE_VALUE]
GO
/****** Object:  Default [DF_BW_CELL_ACTIVE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_CELL] ADD  CONSTRAINT [DF_BW_CELL_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
/****** Object:  Default [DF_BW_COL_ACCESS_COL_ID]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COL_ACCESS] ADD  CONSTRAINT [DF_BW_COL_ACCESS_COL_ID]  DEFAULT ((0)) FOR [COL_ID]
GO
/****** Object:  Default [DF_BW_COL_ACCESS_]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COL_ACCESS] ADD  CONSTRAINT [DF_BW_COL_ACCESS_]  DEFAULT ((1)) FOR [ACCESS_]
GO
/****** Object:  Default [DF_BW_COL_ACCESS_TID]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COL_ACCESS] ADD  CONSTRAINT [DF_BW_COL_ACCESS_TID]  DEFAULT ((0)) FOR [TID]
GO
/****** Object:  Default [DF_BW_COL_ACCESS_ACTIVE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COL_ACCESS] ADD  CONSTRAINT [DF_BW_COL_ACCESS_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
/****** Object:  Default [DF_BW_COLLAB_PARENT_ACCESS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLLAB] ADD  CONSTRAINT [DF_BW_COLLAB_PARENT_ACCESS]  DEFAULT ((0)) FOR [PARENT_ACCESS]
GO
/****** Object:  Default [DF_BW_COLLAB_DOMAIN_ACCESS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLLAB] ADD  CONSTRAINT [DF_BW_COLLAB_DOMAIN_ACCESS]  DEFAULT ((0)) FOR [DOMAIN_ACCESS]
GO
/****** Object:  Default [DF_BW_COLLAB_CHILDREN_ACCESS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLLAB] ADD  CONSTRAINT [DF_BW_COLLAB_CHILDREN_ACCESS]  DEFAULT ((0)) FOR [CHILDREN_ACCESS]
GO
/****** Object:  Default [DF_BW_COLLAB_CREATOR_ACCESS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLLAB] ADD  CONSTRAINT [DF_BW_COLLAB_CREATOR_ACCESS]  DEFAULT ((0)) FOR [CREATOR_ACCESS]
GO
/****** Object:  Default [DF_BW_COLLAB_COLLABORATION_PUBLIC_ACCESS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLLAB] ADD  CONSTRAINT [DF_BW_COLLAB_COLLABORATION_PUBLIC_ACCESS]  DEFAULT ((0)) FOR [COLLABORATION_PUBLIC_ACCESS]
GO
/****** Object:  Default [DF_BW_COLUMN_IS_NUMERATED]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLUMN] ADD  CONSTRAINT [DF_BW_COLUMN_IS_NUMERATED]  DEFAULT ((0)) FOR [IS_ENUMERATED]
GO
/****** Object:  Default [DF_BW_COLUMN_WIDTH]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLUMN] ADD  CONSTRAINT [DF_BW_COLUMN_WIDTH]  DEFAULT ((20)) FOR [WIDTH]
GO
/****** Object:  Default [DF_BW_COLUMN_IS_ACTIVE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLUMN] ADD  CONSTRAINT [DF_BW_COLUMN_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
/****** Object:  Default [DF_BW_COLUMN_SOURCE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLUMN] ADD  CONSTRAINT [DF_BW_COLUMN_SOURCE]  DEFAULT ((-1)) FOR [SOURCE]
GO
/****** Object:  Default [DF_BW_FORMULA_VALUE_TX_ID]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_FORMULA_VALUE] ADD  CONSTRAINT [DF_BW_FORMULA_VALUE_TX_ID]  DEFAULT ((-1)) FOR [TX_ID]
GO
/****** Object:  Default [DF_BW_NH_NEIGHBORHOOD_LEVEL]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_NH] ADD  CONSTRAINT [DF_BW_NH_NEIGHBORHOOD_LEVEL]  DEFAULT ((3)) FOR [NEIGHBORHOOD_LEVEL]
GO
/****** Object:  Default [DF_BW_NH_ACCESS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_NH] ADD  CONSTRAINT [DF_BW_NH_ACCESS]  DEFAULT ((0)) FOR [ACCESS]
GO
/****** Object:  Default [DF_BW_OBJECT_ACTIONS_TX_ID]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_OBJECT_ACTIONS] ADD  CONSTRAINT [DF_BW_OBJECT_ACTIONS_TX_ID]  DEFAULT ((-1)) FOR [TX_ID]
GO
/****** Object:  Default [DF_BW_RC_STRING_VALUE_CHANGE_FLAG]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_RC_STRING_VALUE] ADD  CONSTRAINT [DF_BW_RC_STRING_VALUE_CHANGE_FLAG]  DEFAULT ((1)) FOR [CHANGE_FLAG]
GO
/****** Object:  Default [DF_BW_ROW_IS_ACTIVE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_ROW] ADD  CONSTRAINT [DF_BW_ROW_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
/****** Object:  Default [DF_BW_ROW_OWNER_ID]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_ROW] ADD  CONSTRAINT [DF_BW_ROW_OWNER_ID]  DEFAULT ((-1)) FOR [OWNER_ID]
GO
/****** Object:  Default [DF_BW_ROW_OWNER_TID]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_ROW] ADD  CONSTRAINT [DF_BW_ROW_OWNER_TID]  DEFAULT ((1)) FOR [OWNER_TID]
GO
/****** Object:  Default [DF_BW_TBL_IS_LOCKED]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_TBL] ADD  CONSTRAINT [DF_BW_TBL_IS_LOCKED]  DEFAULT ((0)) FOR [IS_LOCKED]
GO
/****** Object:  Default [DF_BW_TBL_LOCK_TX_ID]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_TBL] ADD  CONSTRAINT [DF_BW_TBL_LOCK_TX_ID]  DEFAULT ((-1)) FOR [LOCK_TX_ID]
GO
/****** Object:  Default [DF_BWX_INT_DEFAULT_DATA]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BWX_INT] ADD  CONSTRAINT [DF_BWX_INT_DEFAULT_DATA]  DEFAULT ((-1)) FOR [DEFAULT_DATA]
GO
/****** Object:  Default [DF__dba_index__print__60083D91]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[dba_indexDefragStatus] ADD  DEFAULT ((0)) FOR [printStatus]
GO
/****** Object:  Default [DF__dba_index__exclu__60FC61CA]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[dba_indexDefragStatus] ADD  DEFAULT ((0)) FOR [exclusionMask]
GO
/****** Object:  Default [DF_FORMAT_BLOB_TYPE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[Import_Specification] ADD  CONSTRAINT [DF_FORMAT_BLOB_TYPE]  DEFAULT ('application/octet-stream') FOR [TYPE]
GO
/****** Object:  Default [DF_FORMAT_BLOB_LASTCHANGEDATETIME]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[Import_Specification] ADD  CONSTRAINT [DF_FORMAT_BLOB_LASTCHANGEDATETIME]  DEFAULT (getdate()) FOR [LASTCHANGEDATETIME]
GO
/****** Object:  Default [DF_FORMAT_BLOB_IsActive]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[Import_Specification] ADD  CONSTRAINT [DF_FORMAT_BLOB_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
/****** Object:  ForeignKey [FK_BW_ACC_TBL_TO_BW_TBL]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_ACC_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_ACC_TBL_TO_BW_TBL] FOREIGN KEY([BW_TBL_ID])
REFERENCES [dbo].[BW_TBL] ([ID])
GO
ALTER TABLE [dbo].[BW_ACC_TBL] CHECK CONSTRAINT [FK_BW_ACC_TBL_TO_BW_TBL]
GO
/****** Object:  ForeignKey [FK_BW_ACC_TBL_TO_BW_TBL_1]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_ACC_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_ACC_TBL_TO_BW_TBL_1] FOREIGN KEY([BW_ACC_TBL_ID])
REFERENCES [dbo].[BW_TBL] ([ID])
GO
ALTER TABLE [dbo].[BW_ACC_TBL] CHECK CONSTRAINT [FK_BW_ACC_TBL_TO_BW_TBL_1]
GO
/****** Object:  ForeignKey [FK_BW_BL_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_BL] CHECK CONSTRAINT [FK_BW_BL_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_BL_CELL_TO_BW_BL]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_CELL]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_CELL_TO_BW_BL] FOREIGN KEY([BASELINE_ID])
REFERENCES [dbo].[BW_BL] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_CELL] CHECK CONSTRAINT [FK_BW_BL_CELL_TO_BW_BL]
GO
/****** Object:  ForeignKey [FK_BW_BL_CELL_TO_BW_DOUBLE_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_CELL]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_CELL_TO_BW_DOUBLE_VALUE] FOREIGN KEY([DOUBLE_VALUE_ID])
REFERENCES [dbo].[BW_DOUBLE_VALUE] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_CELL] CHECK CONSTRAINT [FK_BW_BL_CELL_TO_BW_DOUBLE_VALUE]
GO
/****** Object:  ForeignKey [FK_BW_BL_CELL_TO_BW_INTEGER_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_CELL]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_CELL_TO_BW_INTEGER_VALUE] FOREIGN KEY([INTEGER_VALUE_ID])
REFERENCES [dbo].[BW_INTEGER_VALUE] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_CELL] CHECK CONSTRAINT [FK_BW_BL_CELL_TO_BW_INTEGER_VALUE]
GO
/****** Object:  ForeignKey [FK_BW_BL_CELL_TO_BW_TBL]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_CELL]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_CELL_TO_BW_TBL] FOREIGN KEY([TABLE_VALUE_ID])
REFERENCES [dbo].[BW_TBL_VALUE] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_CELL] CHECK CONSTRAINT [FK_BW_BL_CELL_TO_BW_TBL]
GO
/****** Object:  ForeignKey [FK_BW_BL_CELL_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_CELL]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_CELL_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_BL_CELL] CHECK CONSTRAINT [FK_BW_BL_CELL_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_BL_COLLAB_TO_BW_BL]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_COLLAB]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_COLLAB_TO_BW_BL] FOREIGN KEY([BASELINE_ID])
REFERENCES [dbo].[BW_BL] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_COLLAB] CHECK CONSTRAINT [FK_BW_BL_COLLAB_TO_BW_BL]
GO
/****** Object:  ForeignKey [FK_BW_BL_COLLAB_TO_BW_COLLAB]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_COLLAB]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_COLLAB_TO_BW_COLLAB] FOREIGN KEY([COLLABORATION_ID])
REFERENCES [dbo].[BW_COLLAB] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_COLLAB] CHECK CONSTRAINT [FK_BW_BL_COLLAB_TO_BW_COLLAB]
GO
/****** Object:  ForeignKey [FK_BW_BL_COLLAB_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_COLLAB]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_COLLAB_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_BL_COLLAB] CHECK CONSTRAINT [FK_BW_BL_COLLAB_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_BL_COLUMN_TO_BW_BL]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_COLUMN]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_COLUMN_TO_BW_BL] FOREIGN KEY([BASELINE_ID])
REFERENCES [dbo].[BW_BL] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_COLUMN] CHECK CONSTRAINT [FK_BW_BL_COLUMN_TO_BW_BL]
GO
/****** Object:  ForeignKey [FK_BW_BL_COLUMN_TO_BW_COLUMN]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_COLUMN]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_COLUMN_TO_BW_COLUMN] FOREIGN KEY([COLUMN_ID])
REFERENCES [dbo].[BW_COLUMN] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_COLUMN] CHECK CONSTRAINT [FK_BW_BL_COLUMN_TO_BW_COLUMN]
GO
/****** Object:  ForeignKey [FK_BW_BL_COLUMN_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_COLUMN]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_COLUMN_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_BL_COLUMN] CHECK CONSTRAINT [FK_BW_BL_COLUMN_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_BL_ROW_TO_BW_BL]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_ROW]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_ROW_TO_BW_BL] FOREIGN KEY([BASELINE_ID])
REFERENCES [dbo].[BW_BL] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_ROW] CHECK CONSTRAINT [FK_BW_BL_ROW_TO_BW_BL]
GO
/****** Object:  ForeignKey [FK_BW_BL_ROW_TO_BW_ROW]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_ROW]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_ROW_TO_BW_ROW] FOREIGN KEY([ROW_ID])
REFERENCES [dbo].[BW_ROW] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_ROW] CHECK CONSTRAINT [FK_BW_BL_ROW_TO_BW_ROW]
GO
/****** Object:  ForeignKey [FK_BW_BL_ROW_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_ROW]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_ROW_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_BL_ROW] CHECK CONSTRAINT [FK_BW_BL_ROW_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_BL_TBL_TO_BW_BL]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_TBL_TO_BW_BL] FOREIGN KEY([BASELINE_ID])
REFERENCES [dbo].[BW_BL] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_TBL] CHECK CONSTRAINT [FK_BW_BL_TBL_TO_BW_BL]
GO
/****** Object:  ForeignKey [FK_BW_BL_TBL_TO_BW_TBL]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_TBL_TO_BW_TBL] FOREIGN KEY([TABLE_ID])
REFERENCES [dbo].[BW_TBL] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_TBL] CHECK CONSTRAINT [FK_BW_BL_TBL_TO_BW_TBL]
GO
/****** Object:  ForeignKey [FK_BW_BL_TBL_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_TBL_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_BL_TBL] CHECK CONSTRAINT [FK_BW_BL_TBL_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_BL_WB_TO_BW_BL]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_WB]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_WB_TO_BW_BL] FOREIGN KEY([BASELINE_ID])
REFERENCES [dbo].[BW_BL] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_WB] CHECK CONSTRAINT [FK_BW_BL_WB_TO_BW_BL]
GO
/****** Object:  ForeignKey [FK_BW_BL_WB_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_WB]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_WB_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_BL_WB] CHECK CONSTRAINT [FK_BW_BL_WB_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_BL_WB_TO_BW_WB]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_BL_WB]  WITH CHECK ADD  CONSTRAINT [FK_BW_BL_WB_TO_BW_WB] FOREIGN KEY([WHITEBOARD_ID])
REFERENCES [dbo].[BW_WB] ([ID])
GO
ALTER TABLE [dbo].[BW_BL_WB] CHECK CONSTRAINT [FK_BW_BL_WB_TO_BW_WB]
GO
/****** Object:  ForeignKey [FK_BW_CELL_TO_BW_COLUMN]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_CELL]  WITH CHECK ADD  CONSTRAINT [FK_BW_CELL_TO_BW_COLUMN] FOREIGN KEY([BW_COLUMN_ID])
REFERENCES [dbo].[BW_COLUMN] ([ID])
GO
ALTER TABLE [dbo].[BW_CELL] CHECK CONSTRAINT [FK_BW_CELL_TO_BW_COLUMN]
GO
/****** Object:  ForeignKey [FK_BW_CELL_TO_BW_ROW]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_CELL]  WITH CHECK ADD  CONSTRAINT [FK_BW_CELL_TO_BW_ROW] FOREIGN KEY([BW_ROW_ID])
REFERENCES [dbo].[BW_ROW] ([ID])
GO
ALTER TABLE [dbo].[BW_CELL] CHECK CONSTRAINT [FK_BW_CELL_TO_BW_ROW]
GO
/****** Object:  ForeignKey [FK_BW_COLLAB_TO_BW_MEMBER]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLLAB]  WITH CHECK ADD  CONSTRAINT [FK_BW_COLLAB_TO_BW_MEMBER] FOREIGN KEY([MEMBER_ID])
REFERENCES [dbo].[BW_MEMBER] ([ID])
GO
ALTER TABLE [dbo].[BW_COLLAB] CHECK CONSTRAINT [FK_BW_COLLAB_TO_BW_MEMBER]
GO
/****** Object:  ForeignKey [FK_BW_COLLAB_TO_BW_NH]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLLAB]  WITH CHECK ADD  CONSTRAINT [FK_BW_COLLAB_TO_BW_NH] FOREIGN KEY([NEIGHBORHOOD_ID])
REFERENCES [dbo].[BW_NH] ([ID])
GO
ALTER TABLE [dbo].[BW_COLLAB] CHECK CONSTRAINT [FK_BW_COLLAB_TO_BW_NH]
GO
/****** Object:  ForeignKey [FK_BW_COLLAB_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLLAB]  WITH CHECK ADD  CONSTRAINT [FK_BW_COLLAB_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_COLLAB] CHECK CONSTRAINT [FK_BW_COLLAB_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_COLUMN_BW_COLUMN_TYPE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLUMN]  WITH CHECK ADD  CONSTRAINT [FK_BW_COLUMN_BW_COLUMN_TYPE] FOREIGN KEY([COLUMN_TYPE])
REFERENCES [dbo].[BW_COLUMN_TYPE] ([COLUMN_TYPE])
GO
ALTER TABLE [dbo].[BW_COLUMN] CHECK CONSTRAINT [FK_BW_COLUMN_BW_COLUMN_TYPE]
GO
/****** Object:  ForeignKey [FK_BW_COLUMN_TO_BW_COLUMN]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLUMN]  WITH CHECK ADD  CONSTRAINT [FK_BW_COLUMN_TO_BW_COLUMN] FOREIGN KEY([LOOKUP_COLUMN_ID])
REFERENCES [dbo].[BW_COLUMN] ([ID])
GO
ALTER TABLE [dbo].[BW_COLUMN] CHECK CONSTRAINT [FK_BW_COLUMN_TO_BW_COLUMN]
GO
/****** Object:  ForeignKey [FK_BW_COLUMN_TO_BW_TBL_1]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLUMN]  WITH CHECK ADD  CONSTRAINT [FK_BW_COLUMN_TO_BW_TBL_1] FOREIGN KEY([BW_TBL_ID])
REFERENCES [dbo].[BW_TBL] ([ID])
GO
ALTER TABLE [dbo].[BW_COLUMN] CHECK CONSTRAINT [FK_BW_COLUMN_TO_BW_TBL_1]
GO
/****** Object:  ForeignKey [FK_BW_COLUMN_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLUMN]  WITH CHECK ADD  CONSTRAINT [FK_BW_COLUMN_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_COLUMN] CHECK CONSTRAINT [FK_BW_COLUMN_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_COLUMN_ORDERED_TBL_TO_BW_COLUMN]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLUMN_ORDERED_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_COLUMN_ORDERED_TBL_TO_BW_COLUMN] FOREIGN KEY([ORDERED_LIST_TBL_COLUMN_ID])
REFERENCES [dbo].[BW_COLUMN] ([ID])
GO
ALTER TABLE [dbo].[BW_COLUMN_ORDERED_TBL] CHECK CONSTRAINT [FK_BW_COLUMN_ORDERED_TBL_TO_BW_COLUMN]
GO
/****** Object:  ForeignKey [FK_BW_COLUMN_ORDERED_TBL_TO_BW_COLUMN_1]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLUMN_ORDERED_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_COLUMN_ORDERED_TBL_TO_BW_COLUMN_1] FOREIGN KEY([COLUMN_ID])
REFERENCES [dbo].[BW_COLUMN] ([ID])
GO
ALTER TABLE [dbo].[BW_COLUMN_ORDERED_TBL] CHECK CONSTRAINT [FK_BW_COLUMN_ORDERED_TBL_TO_BW_COLUMN_1]
GO
/****** Object:  ForeignKey [FK_BW_COLUMN_ORDERED_TBL_TO_BW_TBL]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLUMN_ORDERED_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_COLUMN_ORDERED_TBL_TO_BW_TBL] FOREIGN KEY([ORDERED_LIST_TBL_ID])
REFERENCES [dbo].[BW_TBL] ([ID])
GO
ALTER TABLE [dbo].[BW_COLUMN_ORDERED_TBL] CHECK CONSTRAINT [FK_BW_COLUMN_ORDERED_TBL_TO_BW_TBL]
GO
/****** Object:  ForeignKey [FK_BW_COLUMN_ORDERED_TBL_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_COLUMN_ORDERED_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_COLUMN_ORDERED_TBL_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_COLUMN_ORDERED_TBL] CHECK CONSTRAINT [FK_BW_COLUMN_ORDERED_TBL_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_CRIT_TBL_TO_BW_TBL]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_CRIT_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_CRIT_TBL_TO_BW_TBL] FOREIGN KEY([BW_TBL_ID])
REFERENCES [dbo].[BW_TBL] ([ID])
GO
ALTER TABLE [dbo].[BW_CRIT_TBL] CHECK CONSTRAINT [FK_BW_CRIT_TBL_TO_BW_TBL]
GO
/****** Object:  ForeignKey [FK_BW_CRIT_TBL_TO_BW_TBL_1]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_CRIT_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_CRIT_TBL_TO_BW_TBL_1] FOREIGN KEY([BW_CR_TBL_ID])
REFERENCES [dbo].[BW_TBL] ([ID])
GO
ALTER TABLE [dbo].[BW_CRIT_TBL] CHECK CONSTRAINT [FK_BW_CRIT_TBL_TO_BW_TBL_1]
GO
/****** Object:  ForeignKey [FK_BW_DOUBLE_VALUE_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_DOUBLE_VALUE]  WITH CHECK ADD  CONSTRAINT [FK_BW_DOUBLE_VALUE_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_DOUBLE_VALUE] CHECK CONSTRAINT [FK_BW_DOUBLE_VALUE_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_INTEGER_VALUE_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_INTEGER_VALUE]  WITH CHECK ADD  CONSTRAINT [FK_BW_INTEGER_VALUE_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_INTEGER_VALUE] CHECK CONSTRAINT [FK_BW_INTEGER_VALUE_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_MEMBER_TO_BW_NH]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_MEMBER]  WITH CHECK ADD  CONSTRAINT [FK_BW_MEMBER_TO_BW_NH] FOREIGN KEY([NEIGHBORHOOD_ID])
REFERENCES [dbo].[BW_NH] ([ID])
GO
ALTER TABLE [dbo].[BW_MEMBER] CHECK CONSTRAINT [FK_BW_MEMBER_TO_BW_NH]
GO
/****** Object:  ForeignKey [FK_BW_MEMBER_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_MEMBER]  WITH CHECK ADD  CONSTRAINT [FK_BW_MEMBER_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_MEMBER] CHECK CONSTRAINT [FK_BW_MEMBER_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_MEMBER_TO_BW_USER]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_MEMBER]  WITH CHECK ADD  CONSTRAINT [FK_BW_MEMBER_TO_BW_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[BW_USER] ([ID])
GO
ALTER TABLE [dbo].[BW_MEMBER] CHECK CONSTRAINT [FK_BW_MEMBER_TO_BW_USER]
GO
/****** Object:  ForeignKey [FK_BW_NH_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_NH]  WITH CHECK ADD  CONSTRAINT [FK_BW_NH_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_NH] CHECK CONSTRAINT [FK_BW_NH_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_NH_TO_BW_USER]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_NH]  WITH CHECK ADD  CONSTRAINT [FK_BW_NH_TO_BW_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[BW_USER] ([ID])
GO
ALTER TABLE [dbo].[BW_NH] CHECK CONSTRAINT [FK_BW_NH_TO_BW_USER]
GO
/****** Object:  ForeignKey [FK_BW_NH_TO_BW_USER_1]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_NH]  WITH CHECK ADD  CONSTRAINT [FK_BW_NH_TO_BW_USER_1] FOREIGN KEY([MANAGED_BY])
REFERENCES [dbo].[BW_USER] ([ID])
GO
ALTER TABLE [dbo].[BW_NH] CHECK CONSTRAINT [FK_BW_NH_TO_BW_USER_1]
GO
/****** Object:  ForeignKey [FK_BW_NH_LEVEL_0_TO_BW_NH]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_NH_LEVEL_0]  WITH CHECK ADD  CONSTRAINT [FK_BW_NH_LEVEL_0_TO_BW_NH] FOREIGN KEY([NEIGHBORHOOD_ID])
REFERENCES [dbo].[BW_NH] ([ID])
GO
ALTER TABLE [dbo].[BW_NH_LEVEL_0] CHECK CONSTRAINT [FK_BW_NH_LEVEL_0_TO_BW_NH]
GO
/****** Object:  ForeignKey [FK_BW_NH_LEVEL_0_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_NH_LEVEL_0]  WITH CHECK ADD  CONSTRAINT [FK_BW_NH_LEVEL_0_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_NH_LEVEL_0] CHECK CONSTRAINT [FK_BW_NH_LEVEL_0_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_NH_LEVEL_1_TO_BW_NH]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_NH_LEVEL_1]  WITH CHECK ADD  CONSTRAINT [FK_BW_NH_LEVEL_1_TO_BW_NH] FOREIGN KEY([NEIGHBORHOOD_ID])
REFERENCES [dbo].[BW_NH] ([ID])
GO
ALTER TABLE [dbo].[BW_NH_LEVEL_1] CHECK CONSTRAINT [FK_BW_NH_LEVEL_1_TO_BW_NH]
GO
/****** Object:  ForeignKey [FK_BW_NH_LEVEL_1_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_NH_LEVEL_1]  WITH CHECK ADD  CONSTRAINT [FK_BW_NH_LEVEL_1_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_NH_LEVEL_1] CHECK CONSTRAINT [FK_BW_NH_LEVEL_1_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_NH_LEVEL_2_TO_BW_NH]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_NH_LEVEL_2]  WITH CHECK ADD  CONSTRAINT [FK_BW_NH_LEVEL_2_TO_BW_NH] FOREIGN KEY([NEIGHBORHOOD_ID])
REFERENCES [dbo].[BW_NH] ([ID])
GO
ALTER TABLE [dbo].[BW_NH_LEVEL_2] CHECK CONSTRAINT [FK_BW_NH_LEVEL_2_TO_BW_NH]
GO
/****** Object:  ForeignKey [FK_BW_NH_LEVEL_2_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_NH_LEVEL_2]  WITH CHECK ADD  CONSTRAINT [FK_BW_NH_LEVEL_2_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_NH_LEVEL_2] CHECK CONSTRAINT [FK_BW_NH_LEVEL_2_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_NH_LEVEL_3_TO_BW_NH]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_NH_LEVEL_3]  WITH CHECK ADD  CONSTRAINT [FK_BW_NH_LEVEL_3_TO_BW_NH] FOREIGN KEY([NEIGHBORHOOD_ID])
REFERENCES [dbo].[BW_NH] ([ID])
GO
ALTER TABLE [dbo].[BW_NH_LEVEL_3] CHECK CONSTRAINT [FK_BW_NH_LEVEL_3_TO_BW_NH]
GO
/****** Object:  ForeignKey [FK_BW_NH_LEVEL_3_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_NH_LEVEL_3]  WITH CHECK ADD  CONSTRAINT [FK_BW_NH_LEVEL_3_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_NH_LEVEL_3] CHECK CONSTRAINT [FK_BW_NH_LEVEL_3_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_ROW_TO_BW_TBL]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_ROW]  WITH CHECK ADD  CONSTRAINT [FK_BW_ROW_TO_BW_TBL] FOREIGN KEY([BW_TBL_ID])
REFERENCES [dbo].[BW_TBL] ([ID])
GO
ALTER TABLE [dbo].[BW_ROW] CHECK CONSTRAINT [FK_BW_ROW_TO_BW_TBL]
GO
/****** Object:  ForeignKey [FK_BW_ROW_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_ROW]  WITH CHECK ADD  CONSTRAINT [FK_BW_ROW_TO_BW_TXS] FOREIGN KEY([OWNER_TID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_ROW] CHECK CONSTRAINT [FK_BW_ROW_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_ROW_TO_BW_USER]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_ROW]  WITH CHECK ADD  CONSTRAINT [FK_BW_ROW_TO_BW_USER] FOREIGN KEY([OWNER_ID])
REFERENCES [dbo].[BW_USER] ([ID])
GO
ALTER TABLE [dbo].[BW_ROW] CHECK CONSTRAINT [FK_BW_ROW_TO_BW_USER]
GO
/****** Object:  ForeignKey [FK_BW_ROW_TO_BW_WB]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_ROW]  WITH CHECK ADD  CONSTRAINT [FK_BW_ROW_TO_BW_WB] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_ROW] CHECK CONSTRAINT [FK_BW_ROW_TO_BW_WB]
GO
/****** Object:  ForeignKey [FK_BW_STRING_VALUE_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_STRING_VALUE]  WITH CHECK ADD  CONSTRAINT [FK_BW_STRING_VALUE_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_STRING_VALUE] CHECK CONSTRAINT [FK_BW_STRING_VALUE_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_STRVAL_FORMULA_TO_BW_FORMULA_VALUE]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_STRVAL_FORMULA]  WITH CHECK ADD  CONSTRAINT [FK_BW_STRVAL_FORMULA_TO_BW_FORMULA_VALUE] FOREIGN KEY([FVAL_ID])
REFERENCES [dbo].[BW_FORMULA_VALUE] ([ID])
GO
ALTER TABLE [dbo].[BW_STRVAL_FORMULA] CHECK CONSTRAINT [FK_BW_STRVAL_FORMULA_TO_BW_FORMULA_VALUE]
GO
/****** Object:  ForeignKey [FK_BW_TBL_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_TBL_TO_BW_TXS] FOREIGN KEY([LOCK_TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_TBL] CHECK CONSTRAINT [FK_BW_TBL_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_TBL_TO_BW_TXS_1]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_TBL_TO_BW_TXS_1] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_TBL] CHECK CONSTRAINT [FK_BW_TBL_TO_BW_TXS_1]
GO
/****** Object:  ForeignKey [FK_BW_TBL_TO_BW_WB]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BW_TBL_TO_BW_WB] FOREIGN KEY([BW_WB_ID])
REFERENCES [dbo].[BW_WB] ([ID])
GO
ALTER TABLE [dbo].[BW_TBL] CHECK CONSTRAINT [FK_BW_TBL_TO_BW_WB]
GO
/****** Object:  ForeignKey [FK_BW_TBL_VALUE_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_TBL_VALUE]  WITH CHECK ADD  CONSTRAINT [FK_BW_TBL_VALUE_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_TBL_VALUE] CHECK CONSTRAINT [FK_BW_TBL_VALUE_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_TXS_TO_BW_USER]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_TXS]  WITH CHECK ADD  CONSTRAINT [FK_BW_TXS_TO_BW_USER] FOREIGN KEY([CREATED_BY])
REFERENCES [dbo].[BW_USER] ([ID])
GO
ALTER TABLE [dbo].[BW_TXS] CHECK CONSTRAINT [FK_BW_TXS_TO_BW_USER]
GO
/****** Object:  ForeignKey [FK_BW_WB_TO_BW_COLLAB]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_WB]  WITH CHECK ADD  CONSTRAINT [FK_BW_WB_TO_BW_COLLAB] FOREIGN KEY([BW_COLLAB_ID])
REFERENCES [dbo].[BW_COLLAB] ([ID])
GO
ALTER TABLE [dbo].[BW_WB] CHECK CONSTRAINT [FK_BW_WB_TO_BW_COLLAB]
GO
/****** Object:  ForeignKey [FK_BW_WB_TO_BW_TXS]    Script Date: 09/29/2016 04:28:08 ******/
ALTER TABLE [dbo].[BW_WB]  WITH CHECK ADD  CONSTRAINT [FK_BW_WB_TO_BW_TXS] FOREIGN KEY([TX_ID])
REFERENCES [dbo].[BW_TXS] ([TX_ID])
GO
ALTER TABLE [dbo].[BW_WB] CHECK CONSTRAINT [FK_BW_WB_TO_BW_TXS]
GO
/****** Object:  ForeignKey [FK_BW_PASSWORD_HISTORY_TO_BW_USER]    Script Date: 05/22/2019 04:28:08 ******/
ALTER TABLE [dbo].[BW_PASSWORD_HISTORY]  WITH CHECK ADD  CONSTRAINT [FK_BW_PASSWORD_HISTORY_TO_BW_USER] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[BW_USER] ([ID])
GO
ALTER TABLE [dbo].[BW_PASSWORD_HISTORY] CHECK CONSTRAINT [FK_BW_PASSWORD_HISTORY_TO_BW_USER]
GO
