USE [EPortal]
GO
/****** Object:  StoredProcedure [dbo].[BW_GET_MIGRATION_INFO_VELOCITY]    Script Date: 14-03-2022 13:47:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <14-MARCH-2022>
-- Description:	<GET MIGRATION COMMAND FOR ALL OBJECTS DEFINED UNDER GIVEN NEIGHBORHOOD. PARENT NH, CHILDREN NH, COLLABS, WB, CUBOID ARE ADDED,,>
-- =============================================
ALTER PROCEDURE [dbo].[BW_GET_MIGRATION_INFO_FOR_NH_VELOCITY] 
	@NH_ID INT
AS
BEGIN
	SET NOCOUNT ON;


	CREATE TABLE #BW_NH_MIGRATION_COMMAND
	(
		COMMAND VARCHAR(512),
		OBJECTID INT, 
		NAME VARCHAR(512)
	)

	INSERT #BW_NH_MIGRATION_COMMAND
		SELECT  'CreateUser' command,  U.ID  ObjectID, U.EMAIL_ADDRESS
			 FROM BW_MEMBER M, BW_USER U, BW_NH N
				WHERE M.NEIGHBORHOOD_ID = N.ID
					AND M.USER_ID = U.ID AND N.ID = @NH_ID
		UNION
		SELECT  'CreateMember' command,  M.ID  ObjectID, 'MEMBER'
			 FROM BW_MEMBER M,  BW_NH N
				WHERE M.NEIGHBORHOOD_ID = N.ID AND N.ID = @NH_ID
		UNION			
		SELECT 'CreateCollab' command ,  C.ID ObjectID, C.NAME
			FROM BW_COLLAB C, BW_NH N
				WHERE C.NEIGHBORHOOD_ID = N.ID  AND N.ID = @NH_ID
		UNION
		SELECT 'CreateWb' command ,  W.ID ObjectID, W.NAME
			FROM BW_COLLAB C, BW_WB W, BW_NH N
				WHERE W.BW_COLLAB_ID = C.ID AND
						C.NEIGHBORHOOD_ID = N.ID  AND N.ID = @NH_ID
		UNION
		SELECT 'CreateCuboid' command ,  T.ID ObjectID, T.NAME
			FROM BW_COLLAB C, BW_WB W, BW_TBL T, BW_NH N
				WHERE T.BW_WB_ID = W.ID AND
						W.BW_COLLAB_ID = C.ID AND
							C.NEIGHBORHOOD_ID = N.ID  AND N.ID = @NH_ID
		UNION
		SELECT 'LinkImportCuboid' command ,  T.ID ObjectID, T.NAME
			FROM BW_COLLAB C, BW_WB W, BW_TBL T, BW_NH N
				WHERE T.BW_WB_ID = W.ID AND
						W.BW_COLLAB_ID = C.ID AND
							C.NEIGHBORHOOD_ID = N.ID  AND N.ID = @NH_ID
		--UNION
		--SELECT 'RefreshCuboid' command ,  T.ID ObjectID, T.NAME
		--	FROM BW_COLLAB C, BW_WB W, BW_TBL T, BW_NH N
		--		WHERE T.BW_WB_ID = W.ID AND
		--				W.BW_COLLAB_ID = C.ID AND
		--					C.NEIGHBORHOOD_ID = N.ID  AND N.ID = @NH_ID

---------- ADDING NEIGHBORHOOD HIERARCHY OF PARENTS AND CHILDREN
		DECLARE @LEVEL_0 INT
		DECLARE @LEVEL_1 INT
		DECLARE @LEVEL_2 INT
		DECLARE @LEVEL_3 INT
		DECLARE @LEVEL INT

		SELECT @LEVEL = NEIGHBORHOOD_LEVEL, @LEVEL_0 = LEVEL_0_ID, @LEVEL_1 = LEVEL_1_ID, @LEVEL_2 = LEVEL_2_ID, @LEVEL_3 = LEVEL_3_ID
			FROM BW_NH
				WHERE ID = @NH_ID

		DECLARE @LEVEL_ID INT
		DECLARE @LEVEL_0_ID INT
		DECLARE @LEVEL_1_ID INT
		DECLARE @LEVEL_2_ID INT
		DECLARE @LEVEL_3_ID INT

		IF (@LEVEL = 0)
			BEGIN
				SELECT @LEVEL_ID = ID FROM BW_NH_LEVEL_0 WHERE NEIGHBORHOOD_ID = @NH_ID


				INSERT #BW_NH_MIGRATION_COMMAND
					SELECT 'CreateNH_0' Command, ID ObjectID, NAME
						FROM BW_NH	
							WHERE LEVEL_0_ID = @LEVEL_ID AND NEIGHBORHOOD_LEVEL = 0
					UNION
					SELECT 'CreateNH_1' Command, ID ObjectID, NAME
						FROM BW_NH	
							WHERE LEVEL_0_ID = @LEVEL_ID AND NEIGHBORHOOD_LEVEL = 1
					UNION
					SELECT 'CreateNH_2' Command, ID ObjectID, NAME
						FROM BW_NH	
							WHERE LEVEL_0_ID = @LEVEL_ID AND NEIGHBORHOOD_LEVEL = 2
					UNION
					SELECT 'CreateNH_3' Command, ID ObjectID, NAME
						FROM BW_NH	
							WHERE LEVEL_0_ID = @LEVEL_ID AND NEIGHBORHOOD_LEVEL = 3
			END
		ELSE IF (@LEVEL = 1)
			BEGIN
				SELECT @LEVEL_0_ID = ID FROM BW_NH_LEVEL_0 WHERE ID = @LEVEL_0
				SELECT @LEVEL_1_ID = ID FROM BW_NH_LEVEL_1 WHERE NEIGHBORHOOD_ID = @NH_ID

				INSERT #BW_NH_MIGRATION_COMMAND
						SELECT 'CreateNH_0' Command, ID ObjectID, NAME
							FROM BW_NH	
								WHERE  LEVEL_0_ID = @LEVEL_0_ID  AND NEIGHBORHOOD_LEVEL = 0
						UNION
						SELECT 'CreateNH_1' Command, ID ObjectID, NAME
							FROM BW_NH	
								WHERE LEVEL_1_ID = @LEVEL_1_ID AND NEIGHBORHOOD_LEVEL = 1
						UNION
						SELECT 'CreateNH_2' Command, ID ObjectID, NAME
							FROM BW_NH	
								WHERE LEVEL_1_ID = @LEVEL_1_ID AND NEIGHBORHOOD_LEVEL = 2
						UNION
						SELECT 'CreateNH_3' Command, ID ObjectID, NAME
							FROM BW_NH	
								WHERE LEVEL_1_ID = @LEVEL_1_ID AND NEIGHBORHOOD_LEVEL = 3
			END
		ELSE IF (@LEVEL = 2)
			BEGIN
				SELECT @LEVEL_0_ID = ID FROM BW_NH_LEVEL_0 WHERE ID = @LEVEL_0
				SELECT @LEVEL_1_ID = ID FROM BW_NH_LEVEL_1 WHERE ID = @LEVEL_1
				SELECT @LEVEL_2_ID = ID FROM BW_NH_LEVEL_2 WHERE NEIGHBORHOOD_ID = @NH_ID

				INSERT #BW_NH_MIGRATION_COMMAND
						SELECT 'CreateNH_0' Command, ID ObjectID, NAME
							FROM BW_NH	
								WHERE  LEVEL_0_ID = @LEVEL_0_ID  AND NEIGHBORHOOD_LEVEL = 0
						UNION
						SELECT 'CreateNH_1' Command, ID ObjectID, NAME
							FROM BW_NH	
								WHERE LEVEL_1_ID = @LEVEL_1_ID AND NEIGHBORHOOD_LEVEL = 1
						UNION
						SELECT 'CreateNH_2' Command, ID ObjectID, NAME
							FROM BW_NH	
								WHERE LEVEL_2_ID = @LEVEL_2_ID AND NEIGHBORHOOD_LEVEL = 2
						UNION
						SELECT 'CreateNH_3' Command, ID ObjectID, NAME
							FROM BW_NH	
								WHERE LEVEL_2_ID = @LEVEL_2_ID AND NEIGHBORHOOD_LEVEL = 3
			END
		ELSE IF (@LEVEL = 3)
			BEGIN

				SELECT @LEVEL_0_ID = ID FROM BW_NH_LEVEL_0 WHERE ID = @LEVEL_0
				SELECT @LEVEL_1_ID = ID FROM BW_NH_LEVEL_1 WHERE ID = @LEVEL_1
				SELECT @LEVEL_2_ID = ID FROM BW_NH_LEVEL_2 WHERE ID = @LEVEL_2
				SELECT @LEVEL_3_ID = ID FROM BW_NH_LEVEL_3 WHERE NEIGHBORHOOD_ID = @NH_ID

				INSERT #BW_NH_MIGRATION_COMMAND
						SELECT 'CreateNH_0' Command, ID ObjectID, NAME
							FROM BW_NH	
								WHERE  LEVEL_0_ID = @LEVEL_0_ID  AND NEIGHBORHOOD_LEVEL = 0
						UNION
						SELECT 'CreateNH_1' Command, ID ObjectID, NAME
							FROM BW_NH	
								WHERE LEVEL_1_ID = @LEVEL_1_ID AND NEIGHBORHOOD_LEVEL = 1
						UNION
						SELECT 'CreateNH_2' Command, ID ObjectID, NAME
							FROM BW_NH	
								WHERE LEVEL_2_ID = @LEVEL_2_ID AND NEIGHBORHOOD_LEVEL = 2
						UNION
						SELECT 'CreateNH_3' Command, ID ObjectID, NAME
							FROM BW_NH	
								WHERE LEVEL_3_ID = @LEVEL_3_ID AND NEIGHBORHOOD_LEVEL = 3

			END


		--SELECT * FROM #BW_NH_MIGRATION_COMMAND


	-- FOR CREATION ON NH0, NH1, NH2, NH3, COLLAB, WB, TBL
		CREATE TABLE #BW_OBJECTS_STRUCTURE_NH
		(
			NH_ID		VARCHAR(512),
			NH_NAME		VARCHAR(512),
			COLLAB_ID	VARCHAR(512),
			COLLAB_NAME VARCHAR(512),
			WB_ID		VARCHAR(512),
			WB_NAME		VARCHAR(512),
			TBL_ID		VARCHAR(512),
			TBL_NAME	VARCHAR(512),
			NH_LEVEL	VARCHAR(512),
			NH0_ID		VARCHAR(512),
			NH0			VARCHAR(512),
			NH1_ID		VARCHAR(512),
			NH1			VARCHAR(512),
			NH2_ID		VARCHAR(512),
			NH2			VARCHAR(512),
			NH3_ID		VARCHAR(512),
			NH3			VARCHAR(512),
			COLLAB_CREATOR_ID VARCHAR(512),
			COLLAB_CREATOR		VARCHAR(512)
		)

	----------------------------------------------------------
	--GET THE JOINED DATA FROM THE TABLES -NH, COLLAB, WB, TBL 
	----------------------------------------------------------
	INSERT	INTO #BW_OBJECTS_STRUCTURE_NH
			(NH_ID,NH_NAME,COLLAB_ID   ,COLLAB_NAME   ,WB_ID   ,WB_NAME   ,TBL_ID   ,TBL_NAME   ,NH_LEVEL             ,NH0          ,NH1          ,NH2          ,NH3, COLLAB_CREATOR_ID, COLLAB_CREATOR)


	SELECT    NH.ID NH_ID ,NH.NAME NH_NAME,BW_COLLAB_ID,BW_COLLAB_NAME,BW_WB_ID,BW_WB_NAME,BW_TBL_ID,BW_TBL_NAME,NH.NEIGHBORHOOD_LEVEL,NH.LEVEL_0_ID,NH.LEVEL_1_ID,NH.LEVEL_2_ID,NH.LEVEL_3_ID, COLLAB_CREATOR_ID, COLLAB_CREATOR
--		'' NH_0_NAME, '' NH_1_NAME, '' NH_2_NAME, '' NH_3_NAME
	FROM    BW_NH NH LEFT JOIN
	(
		SELECT    CL.ID BW_COLLAB_ID,CL.NAME BW_COLLAB_NAME,WB_TBL.BW_WB_ID,WB_TBL.BW_WB_NAME,WB_TBL.BW_TBL_ID,WB_TBL.BW_TBL_NAME,CL.NEIGHBORHOOD_ID, CL.MEMBER_ID 'COLLAB_CREATOR_ID', ' ' 'COLLAB_CREATOR'
		FROM    BW_COLLAB CL LEFT JOIN
		(
			SELECT    WB.ID BW_WB_ID,WB.NAME BW_WB_NAME,TB.ID BW_TBL_ID,TB.NAME BW_TBL_NAME,WB.BW_COLLAB_ID
			FROM    BW_WB    WB LEFT JOIN
					BW_TBL    TB
			ON        WB.ID            = TB.BW_WB_ID
			WHERE    WB.IS_ACTIVE    = 1
			AND        (TB.IS_ACTIVE    = 1 OR TB.IS_ACTIVE    IS NULL)
		)    WB_TBL
		ON        CL.ID            = WB_TBL.BW_COLLAB_ID
		WHERE    CL.IS_ACTIVE    = 1
	)    CWT
	ON        NH.ID            = CWT.NEIGHBORHOOD_ID
	AND        NH.IS_ACTIVE    = 1
	ORDER    BY NH.NEIGHBORHOOD_LEVEL

	---------------------
	--UPDATE THE BASE NHS
	---------------------
	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH0_ID		= NH_ID,
			NH0			= NH_NAME
	WHERE	NH_LEVEL	= 0

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH1_ID		= NH_ID,
			NH1			= NH_NAME
	WHERE	NH_LEVEL	= 1

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH2_ID		= NH_ID,
			NH2			= NH_NAME
	WHERE	NH_LEVEL	= 2

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH3_ID		= NH_ID,
			NH3			= NH_NAME
	WHERE	NH_LEVEL	= 3
	--SELECT * FROM #BW_OBJECTS_STRUCTURE

	-----------------------
	--UPDATE THE PARENT NHS
	-----------------------
	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH2_ID									= BW_NH_LEVEL_2.NEIGHBORHOOD_ID,
			NH2										= BW_NH_LEVEL_2.NAME
	FROM	BW_NH_LEVEL_2
	WHERE	#BW_OBJECTS_STRUCTURE_NH.NH2				= BW_NH_LEVEL_2.ID
	AND		ISNUMERIC(#BW_OBJECTS_STRUCTURE_NH.NH2)	= 1

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH1_ID									= BW_NH_LEVEL_1.NEIGHBORHOOD_ID,
			NH1										= BW_NH_LEVEL_1.NAME
	FROM	BW_NH_LEVEL_1
	WHERE	#BW_OBJECTS_STRUCTURE_NH.NH1				= BW_NH_LEVEL_1.ID
	AND		ISNUMERIC(#BW_OBJECTS_STRUCTURE_NH.NH1)	= 1

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH0_ID									= BW_NH_LEVEL_0.NEIGHBORHOOD_ID,
			NH0										= BW_NH_LEVEL_0.NAME
	FROM	BW_NH_LEVEL_0
	WHERE	#BW_OBJECTS_STRUCTURE_NH.NH0				= BW_NH_LEVEL_0.ID
	AND		ISNUMERIC(#BW_OBJECTS_STRUCTURE_NH.NH0)	= 1
	--SELECT * FROM #BW_OBJECTS_STRUCTURE


	---------------------
	--REMOVE NULLS AND -1
	---------------------
	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH_ID		= ''
	WHERE	NH_ID		IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH_NAME		= ''
	WHERE	NH_NAME		IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		COLLAB_ID	= ''
	WHERE	COLLAB_ID	IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		COLLAB_NAME = ''
	WHERE	COLLAB_NAME IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		WB_ID		= ''
	WHERE	WB_ID		IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		WB_NAME		= ''
	WHERE	WB_NAME		IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		TBL_ID		= ''
	WHERE	TBL_ID		IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		TBL_NAME	= ''
	WHERE	TBL_NAME	IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH0_ID		= ''
	WHERE	NH0_ID		IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH0			= ''
	WHERE	NH0			= '-1'

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH1_ID		= ''
	WHERE	NH1_ID		IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH1			= ''
	WHERE	NH1			= '-1'

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH2_ID		= ''
	WHERE	NH2_ID		IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH2			= ''
	WHERE	NH2			= '-1'

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH3_ID		= ''
	WHERE	NH3_ID		IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		NH3			= ''
	WHERE	NH3			= '-1'

	UPDATE	#BW_OBJECTS_STRUCTURE_NH
	SET		COLLAB_CREATOR	= 
	( SELECT U.EMAIL_ADDRESS
		FROM BW_USER U, BW_MEMBER M
			WHERE #BW_OBJECTS_STRUCTURE_NH.COLLAB_CREATOR_ID = M.ID 
			AND  M.USER_ID = U.ID )


---- for users, members, collab, wb, table start here

	-- FOR CREATION ON USER, MEMBER, 

	CREATE TABLE #BW_OBJECTS_STRUCTURE
	(
		USER_ID				VARCHAR(512),
		FIRSTNAME			VARCHAR(512),
		LASTNAME			VARCHAR(512),
		EMAIL_ADDRESS		VARCHAR(512),
		EXTERNAL_USER_ID	VARCHAR(512),
		PASSWORD			VARCHAR(512),
		MEMBER_ID			VARCHAR(512),
		NH_ID				VARCHAR(512),
		NH_NAME				VARCHAR(512),
		NH_LEVEL			VARCHAR(512),
		LEVEL_0_ID			VARCHAR(512),
		LEVEL_1_ID			VARCHAR(512),
		LEVEL_2_ID			VARCHAR(512),
		LEVEL_3_ID			VARCHAR(512),
		NH0_NAME			VARCHAR(512),
		NH1_NAME			VARCHAR(512),
		NH2_NAME			VARCHAR(512),
		NH3_NAME			VARCHAR(512),
		COLLAB_NAME			VARCHAR(512),
		WB_NAME				VARCHAR(512),
		TBL_NAME			VARCHAR(512)
	)

	----------------------------------------------------------
	--GET THE JOINED DATA FROM THE TABLES -NH, COLLAB, WB, TBL 
	----------------------------------------------------------
	--INSERT	INTO #BW_OBJECTS_STRUCTURE
	--		(NH_ID,NH_NAME,COLLAB_ID   ,COLLAB_NAME   ,WB_ID   ,WB_NAME   ,TBL_ID   ,TBL_NAME   ,NH_LEVEL             ,NH0          ,NH1          ,NH2          ,NH3)

	INSERT	INTO #BW_OBJECTS_STRUCTURE
			(USER_ID, FIRSTNAME, LASTNAME, EMAIL_ADDRESS, EXTERNAL_USER_ID, PASSWORD, MEMBER_ID, NH_ID, NH_NAME, NH_LEVEL, LEVEL_0_ID, LEVEL_1_ID, LEVEL_2_ID,LEVEL_3_ID, NH0_NAME, NH1_NAME, NH2_NAME, NH3_NAME, COLLAB_NAME, WB_NAME, TBL_NAME )
		SELECT U.ID,  U.FIRSTNAME, U.LASTNAME, U.EMAIL_ADDRESS, U.EXTERNAL_USER_ID, '0' PASSWORD,  M.MEMBER_ID,  M.NEIGHBORHOOD_ID, NH_NAME, NEIGHBORHOOD_LEVEL, LEVEL_0_ID, LEVEL_1_ID, LEVEL_2_ID, LEVEL_3_ID, 
			'' 'NH0_NAME',  '' 'NH1_NAME',  '' 'NH2_NAME',  '' 'NH3_NAME', COLLAB_NAME, WB_NAME, TBL_NAME
			FROM BW_USER U LEFT JOIN
			(
				SELECT MEM.ID MEMBER_ID, MEM.USER_ID, MEM.NEIGHBORHOOD_ID, NH.NH_ID, NH.NH_NAME, NH.NEIGHBORHOOD_LEVEL, NH.LEVEL_0_ID, NH.LEVEL_1_ID, NH.LEVEL_2_ID, NH.LEVEL_3_ID, COLLAB_NAME, WB_NAME, TBL_NAME
					FROM BW_MEMBER MEM LEFT JOIN
					(
						SELECT N.ID NH_ID, N.NAME NH_NAME, N.NEIGHBORHOOD_LEVEL, N.LEVEL_0_ID, N.LEVEL_1_ID, N.LEVEL_2_ID, N.LEVEL_3_ID, COLLAB_NAME, WB_NAME, TBL_NAME
							FROM BW_NH N LEFT JOIN
							(
								SELECT COL.NAME COLLAB_NAME, COL.NEIGHBORHOOD_ID, WB_TBL.WB_NAME, WB_TBL.TBL_NAME
									FROM BW_COLLAB COL LEFT JOIN
									(
										SELECT WB.NAME WB_NAME,TB.NAME TBL_NAME, WB.BW_COLLAB_ID
										FROM    BW_WB    WB LEFT JOIN
												BW_TBL    TB
													ON        WB.ID            = TB.BW_WB_ID
													WHERE    WB.IS_ACTIVE    = 1
													AND        (TB.IS_ACTIVE    = 1 OR TB.IS_ACTIVE    IS NULL)
									) WB_TBL
									ON COL.ID = WB_TBL.BW_COLLAB_ID
							) BW_COLLAB
							ON BW_COLLAB.NEIGHBORHOOD_ID = N.ID
					) NH
					ON MEM.NEIGHBORHOOD_ID = NH.NH_ID
			) M
			ON U.ID = M.USER_ID 

	-----------------------
	--UPDATE THE PARENT NHS
	-----------------------

	UPDATE	#BW_OBJECTS_STRUCTURE
	SET		NH3_NAME								= BW_NH_LEVEL_3.NAME
	FROM	BW_NH_LEVEL_3
	WHERE	#BW_OBJECTS_STRUCTURE.LEVEL_3_ID		= BW_NH_LEVEL_3.ID
	AND		ISNUMERIC(#BW_OBJECTS_STRUCTURE.LEVEL_3_ID)	<> -1

	UPDATE	#BW_OBJECTS_STRUCTURE
	SET		NH2_NAME								= BW_NH_LEVEL_2.NAME
	FROM	BW_NH_LEVEL_2
	WHERE	#BW_OBJECTS_STRUCTURE.LEVEL_2_ID		= BW_NH_LEVEL_2.ID
	AND		ISNUMERIC(#BW_OBJECTS_STRUCTURE.LEVEL_2_ID)	<> -1

	UPDATE	#BW_OBJECTS_STRUCTURE
	SET		NH1_NAME								= BW_NH_LEVEL_1.NAME
	FROM	BW_NH_LEVEL_1
	WHERE	#BW_OBJECTS_STRUCTURE.LEVEL_1_ID		= BW_NH_LEVEL_1.ID
	AND		ISNUMERIC(#BW_OBJECTS_STRUCTURE.LEVEL_1_ID)	<> -1

	UPDATE	#BW_OBJECTS_STRUCTURE
	SET		NH0_NAME								= BW_NH_LEVEL_0.NAME
	FROM	BW_NH_LEVEL_0
	WHERE	#BW_OBJECTS_STRUCTURE.LEVEL_0_ID		= BW_NH_LEVEL_0.ID
	AND		ISNUMERIC(#BW_OBJECTS_STRUCTURE.LEVEL_0_ID)	<> -1

	---------------------
	--REMOVE NULLS AND -1
	---------------------
	UPDATE	#BW_OBJECTS_STRUCTURE
	SET		NH_ID		= ''
	WHERE	NH_ID		IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE
	SET		NH_NAME		= ''
	WHERE	NH_NAME		IS NULL
	
	UPDATE	#BW_OBJECTS_STRUCTURE
	SET		COLLAB_NAME = ''
	WHERE	COLLAB_NAME IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE
	SET		WB_NAME = ''
	WHERE	WB_NAME IS NULL

	UPDATE	#BW_OBJECTS_STRUCTURE
	SET		TBL_NAME = ''
	WHERE	TBL_NAME IS NULL
	
-- SELECT * FROM  #BW_OBJECTS_STRUCTURE_NH
--SELECT * FROM  #BW_OBJECTS_STRUCTURE

	SELECT DISTINCT  'NH_LEVEL=0|' + 'NH0_ID=' + CONVERT(VARCHAR(10), NH0_ID) + '|' + 'NH0_NAME=' + NH0 + '|' + 'COMMAND=CreateNH_0'  + '|' + 'SEQUENCE=1'  'MigrationParam', NH0 'Param', 'CreateNH_0' Command, NH0_ID 'ObjectId' , 1 'Sequence'  INTO #SUPERSET 
	FROM #BW_OBJECTS_STRUCTURE_NH
	UNION
	SELECT DISTINCT  'NH_LEVEL=1|' + 'NH0_ID=' + CONVERT(VARCHAR(10), NH0_ID) + '|' + 'NH0_NAME=' + NH0 + '|' + 'NH1_ID=' + CONVERT(VARCHAR(10), NH1_ID) + '|' + 'NH1_NAME=' + NH1 + '|' + 'COMMAND=CreateNH_1'  + '|' + 'SEQUENCE=2'  'MigrationParam',  NH0 + '|' + NH1 'Param', 'CreateNH_1' Command, NH1_ID 'ObjectId', 2 'Sequence'  FROM #BW_OBJECTS_STRUCTURE_NH
		WHERE NH0 <> '' AND NH1 <> ''
	UNION	
	SELECT DISTINCT  'NH_LEVEL=2|' + 'NH0_ID=' + CONVERT(VARCHAR(10), NH0_ID) + '|' + 'NH0_NAME=' + NH0 + '|' + 'NH1_ID=' + CONVERT(VARCHAR(10), NH1_ID) + '|' + 'NH1_NAME=' + NH1 + '|'  + 'NH2_ID=' + CONVERT(VARCHAR(10), NH2_ID) + '|' + 'NH2_NAME=' + NH2 + '|' +  'COMMAND=CreateNH_2'  + '|' + 'SEQUENCE=3'  'MigrationParam',  NH0 + '|' + NH1 + '|' + NH2 'Param', 'CreateNH_2' Command,  NH2_ID 'ObjectId', 3 'Sequence'  FROM #BW_OBJECTS_STRUCTURE_NH
		WHERE NH0 <> '' AND NH1 <> '' AND NH2 <> ''
	UNION
	SELECT DISTINCT  'NH_LEVEL=3|' + 'NH0_ID=' + CONVERT(VARCHAR(10), NH0_ID) + '|' + 'NH0_NAME=' + NH0 + '|' + 'NH1_ID=' + CONVERT(VARCHAR(10), NH1_ID) + '|' + 'NH1_NAME=' + NH1 + '|'  + 'NH2_ID=' + CONVERT(VARCHAR(10), NH2_ID) + '|' + 'NH2_NAME=' + NH2 + '|' + 'NH3_ID=' + CONVERT(VARCHAR(10), NH3_ID) + '|' + 'NH3_NAME=' + NH3   + '|'  + 'COMMAND=CreateNH_3'  +  '|'  + 'SEQUENCE=4'  'MigrationParam',  + '|' + NH1 + '|' + NH2 + '|' + NH3 'Param', 'CreateNH_3' Command,  NH3_ID 'ObjectId' , 4 'Sequence'  FROM #BW_OBJECTS_STRUCTURE_NH
		WHERE NH0 <> '' AND NH1 <> '' AND NH2 <> '' AND NH3 <> ''
	UNION

	SELECT DISTINCT 'USER_ID=' + USER_ID + '|' + 'FIRSTNAME=' +  FIRSTNAME + '|' + 'LASTNAME=' + LASTNAME  + '|' + 'EMAIL_ADDRESS=' + EMAIL_ADDRESS + '|' + 'EXTERNAL_USER_ID=' +  EXTERNAL_USER_ID + '|' + 'COMMAND=CreateUser'  + '|' + 'SEQUENCE=5'  'MigrationParam', USER_ID + '|' + FIRSTNAME + '|' + LASTNAME  + '|' + EMAIL_ADDRESS + '|' + EXTERNAL_USER_ID 'Param', 'CreateUser' Command, USER_ID 'ObjectId', 5 'Sequence' FROM #BW_OBJECTS_STRUCTURE
		WHERE USER_ID <> '' 
	UNION
	SELECT DISTINCT 'NH_LEVEL=' + NH_LEVEL + '|' + 'NH0_ID=' + CONVERT(VARCHAR(10), LEVEL_0_ID) + '|' + 'NH1_ID=' + CONVERT(VARCHAR(10), LEVEL_1_ID) + '|' + 'NH2_ID=' + CONVERT(VARCHAR(10), LEVEL_2_ID) + '|' + 'NH3_ID=' + CONVERT(VARCHAR(10), LEVEL_3_ID) + '|' + 'USER_ID=' + CONVERT(VARCHAR(10), USER_ID) + '|' + 'MEMBER_ID=' + CONVERT(VARCHAR(10), MEMBER_ID) + '|' +
		'NH0_NAME=' + NH0_NAME + '|' + 'NH1_NAME=' +  NH1_NAME + '|' + 'NH2_NAME=' +  NH2_NAME + '|' + 'NH3_NAME=' +  NH3_NAME + '|' + 'EMAIL_ADDRESS=' +  EMAIL_ADDRESS + '|' + 'COMMAND=CreateMember'  + '|' + 'SEQUENCE=6'  'MigrationParam', NH0_NAME + '|' + NH1_NAME + '|' + NH2_NAME + '|' + NH3_NAME + '|' + EMAIL_ADDRESS 'Param', 'CreateMember' Command, MEMBER_ID 'ObjectId' , 6 'Sequence' FROM #BW_OBJECTS_STRUCTURE
		WHERE MEMBER_ID <> '' 
	UNION
	SELECT DISTINCT 'NH_LEVEL=' + NH_LEVEL + '|' + 'NH0_ID=' + CONVERT(VARCHAR(10), NH0_ID) + '|' + 'NH0_NAME=' + NH0 + '|' + 'NH1_ID=' + CONVERT(VARCHAR(10), NH1_ID) + '|' + 'NH1_NAME=' + NH1 + '|'  + 'NH2_ID=' + CONVERT(VARCHAR(10), NH2_ID) + '|' + 'NH2_NAME=' + NH2 + '|' + 'NH3_ID=' + CONVERT(VARCHAR(10), NH3_ID) + '|' + 'NH3_NAME=' + NH3   + '|' 
	  + 'COLLAB_CREATOR_ID=' +  CONVERT(VARCHAR(10), COLLAB_CREATOR_ID) + '|'	+ 'COLLAB_CREATOR=' + COLLAB_CREATOR + '|' + 'COLLAB_ID=' + COLLAB_ID  + '|' + 'COLLAB_NAME=' + COLLAB_NAME + '|' + 'COMMAND=CreateCollab'  + '|' + 'SEQUENCE=7'  'MigrationParam',  NH0 + '|' + NH1 + '|' + NH2 + '|' + NH3 + '|' + COLLAB_CREATOR + '|' + COLLAB_NAME 'Param', 'CreateCollab' Command, COLLAB_ID 'ObjectId' , 7 'Sequence' FROM #BW_OBJECTS_STRUCTURE_NH
		WHERE COLLAB_NAME <> '' 
	UNION
	SELECT DISTINCT 'NH_LEVEL=' + NH_LEVEL + '|' + 'NH0_ID=' + CONVERT(VARCHAR(10),  NH0_ID) +  '|'  + 'NH0_NAME=' + NH0 + '|' + 'NH1_ID=' + CONVERT(VARCHAR(10), NH1_ID) + '|' + 'NH1_NAME=' + NH1 + '|'  + 'NH2_ID=' + CONVERT(VARCHAR(10), NH2_ID) + '|' + 'NH2_NAME=' + NH2 + '|' + 'NH3_ID=' + CONVERT(VARCHAR(10), NH3_ID) + '|' + 'NH3_NAME=' + NH3   + '|' 
		+ 'COLLAB_ID=' + COLLAB_ID + '|'  + 'COLLAB_NAME=' + COLLAB_NAME + '|'  + 'WB_ID=' + WB_ID  + '|' + 'WB_NAME=' + WB_NAME   + '|' + 'COMMAND=CreateWb'  + '|' + 'SEQUENCE=8'  'MigrationParam',  NH0 + '|' + NH1 + '|' + NH2 + '|' + NH3 + '|' + COLLAB_NAME + '|' + WB_NAME 'Param', 'CreateWb' Command,  WB_ID 'ObjectId' , 8 'Sequence' FROM #BW_OBJECTS_STRUCTURE_NH
		WHERE WB_NAME <> '' 
	UNION
	SELECT DISTINCT 'NH_LEVEL=' + NH_LEVEL + '|' + 'NH0_ID=' + CONVERT(VARCHAR(10),  NH0_ID) +  '|'  + 'NH0_NAME=' + NH0 + '|' + 'NH1_ID=' + CONVERT(VARCHAR(10), NH1_ID) + '|' + 'NH1_NAME=' + NH1 + '|'  + 'NH2_ID=' + CONVERT(VARCHAR(10), NH2_ID) + '|' + 'NH2_NAME=' + NH2 + '|' + 'NH3_ID=' + CONVERT(VARCHAR(10), NH3_ID) + '|' + 'NH3_NAME=' + NH3   + '|' 
		+ 'COLLAB_ID=' + COLLAB_ID + '|'  + 'COLLAB_NAME=' + COLLAB_NAME + '|'  + 'WB_ID=' + WB_ID  + '|' + 'WB_NAME=' + WB_NAME + '|'  + 'CUBOID_ID=' + TBL_ID  + '|' + 'CUBOID_NAME=' + TBL_NAME + '|' + 'COMMAND=CreateCuboid'  + '|' + 'SEQUENCE=9'  'MigrationParam', 
		+ NH0 + '|' + NH1 + '|' + NH2 + '|' + NH3 + '|' + COLLAB_NAME + '|' + WB_NAME + '|' + TBL_NAME 'Param', 'CreateCuboid' Command,  TBL_ID 'ObjectId' , 9 'Sequence' FROM #BW_OBJECTS_STRUCTURE_NH
		WHERE TBL_NAME <> '' 
	UNION
	SELECT DISTINCT 'NH_LEVEL=' + NH_LEVEL + '|' + 'NH0_ID=' + CONVERT(VARCHAR(10),  NH0_ID) +  '|'  + 'NH0_NAME=' + NH0 + '|' + 'NH1_ID=' + CONVERT(VARCHAR(10), NH1_ID) + '|' + 'NH1_NAME=' + NH1 + '|'  + 'NH2_ID=' + CONVERT(VARCHAR(10), NH2_ID) + '|' + 'NH2_NAME=' + NH2 + '|' + 'NH3_ID=' + CONVERT(VARCHAR(10), NH3_ID) + '|' + 'NH3_NAME=' + NH3   + '|' 
		+ 'COLLAB_ID=' + COLLAB_ID + '|'  + 'COLLAB_NAME=' + COLLAB_NAME + '|'  + 'WB_ID=' + WB_ID  + '|' + 'WB_NAME=' + WB_NAME + '|'  + 'CUBOID_ID=' + TBL_ID  + '|' + 'CUBOID_NAME=' + TBL_NAME + '|' + 'COMMAND=LinkImportCuboid'  + '|' + 'SEQUENCE=10'  'MigrationParam', 
		+ NH0 + '|' + NH1 + '|' + NH2 + '|' + NH3 + '|' + COLLAB_NAME + '|' + WB_NAME + '|' + TBL_NAME 'Param', 'LinkImportCuboid' Command,  TBL_ID 'ObjectId' , 10 'Sequence' FROM #BW_OBJECTS_STRUCTURE_NH
		WHERE TBL_NAME <> '' 
	UNION
	SELECT DISTINCT 'NH_LEVEL=' + NH_LEVEL + '|' + 'NH0_ID=' + CONVERT(VARCHAR(10),  NH0_ID) +  '|'  + 'NH0_NAME=' + NH0 + '|' + 'NH1_ID=' + CONVERT(VARCHAR(10), NH1_ID) + '|' + 'NH1_NAME=' + NH1 + '|'  + 'NH2_ID=' + CONVERT(VARCHAR(10), NH2_ID) + '|' + 'NH2_NAME=' + NH2 + '|' + 'NH3_ID=' + CONVERT(VARCHAR(10), NH3_ID) + '|' + 'NH3_NAME=' + NH3   + '|' 
		+ 'COLLAB_ID=' + COLLAB_ID + '|'  + 'COLLAB_NAME=' + COLLAB_NAME + '|'  + 'WB_ID=' + WB_ID  + '|' + 'WB_NAME=' + WB_NAME + '|'  + 'CUBOID_ID=' + TBL_ID  + '|' + 'CUBOID_NAME=' + TBL_NAME + '|' + 'COMMAND=RefreshCuboid'  + '|' + 'SEQUENCE=11'  'MigrationParam', 
		+ NH0 + '|' + NH1 + '|' + NH2 + '|' + NH3 + '|' + COLLAB_NAME + '|' + WB_NAME + '|' + TBL_NAME 'Param', 'RefreshCuboid' Command,  TBL_ID 'ObjectId' , 11 'Sequence' FROM #BW_OBJECTS_STRUCTURE_NH
		WHERE TBL_NAME <> '' 

	ORDER BY SEQUENCE ASC

	SELECT S.*
		FROM #SUPERSET S, #BW_NH_MIGRATION_COMMAND M
			WHERE S.COMMAND = M.COMMAND AND S.OBJECTID = M.OBJECTID
				ORDER BY S.SEQUENCE ASC

	DROP TABLE #SUPERSET 

	DROP TABLE #BW_OBJECTS_STRUCTURE_NH

	DROP TABLE #BW_OBJECTS_STRUCTURE

	DROP TABLE #BW_NH_MIGRATION_COMMAND

END
